﻿@using Inventory.Helper

<style>
    #modalsetup .input-detail td {
        white-space: nowrap;
    }
</style>


<div id="modalsetuphistory" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Riwayat Obat</h4>
            </div>
            <form id="lookuppakethsitory" autocomplete="off">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header" style="padding-bottom:15px;">
                        <div class="form-inline">

                        </div>
                    </div>
                    <div class="datatable-scroll">
                        <table id="tableTelaahObat" class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th class="">Tanggal</th>
                                    <th class="">Nama Barang</th>
                                    <th class="">Aturan Pakai</th>
                                    <th class="">Jumlah Obat</th>
                                    <th class="">Harga Satuan</th>
                                    <th class="">Asal Pasien</th>
                                    <th class="">No Bukti</th>
                                </tr>
                            </thead>
                            <tbody id="targethistory">
                                  
                            </tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    _dataHistory();
    function _dataHistory() {
        $.ajax({
            url: "@Url.Action("Detailhistory", "FarmasiBilling")",
            type: "GET",
            data: {
                nrm: $("#modalsetup input[name='NRM']").val()
            },
            dataType : "JSON",
            success: function (dt) {
                if (dt.IsSuccess) {
                    var html = "";
                    if (dt.Data.length > 0) {
                        for (var i = 0; i < dt.Data.length; i++) {
                            html += `
                                <tr>
                                    <td>`+ dt.Data[i].Tanggal + `</td>
                                    <td>`+ dt.Data[i].Nama_Barang + `</td>
                                    <td>`+ dt.Data[i].AturanPakai + `</td>
                                    <td class="text-center">`+ dt.Data[i].JmlObat + `</td>
                                    <td class="text-right">`+ dt.Data[i].HargaSatuan + `</td>
                                    <td>`+ dt.Data[i].AsalPasien + `</td>
                                    <td>`+ dt.Data[i].NoBukti + `</td>
                                </tr> 
                        `;
                        }
                    } else {
                        html += `
                                <tr>
                                    <td colspan="7" class="text-center">--- Tidak Ada Data ---</td>
                                </tr> 
                        `;
                    }
                    $("#targethistory").html(html);
                } else {
                    html += `
                                <tr>
                                    <td colspan="7" class="text-center">--- Tidak Ada Data ---</td>
                                </tr> 
                        `;
                    $("#targethistory").html(html);
                    alert(dt.Message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus, errorThrown);
            }
        });
        $('#modalsetuphistory').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
        //$('#modalsetuphistory').on('hidden.bs.modal', function () {
        //    $('body').addClass('modal-open');
        //});
    }

</script>


