﻿@using Inventory.Helper
<style>
    #modallookupnoreg table td,
    #modallookupnoreg table th {
        white-space: nowrap;
    }
</style>
<div id="modallookupnoreg" class="modal fade" role="dialog" style="z-index:1061;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Registrasi</h4>
            </div>
            <form id="lookupnoreg" autocomplete="off">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header" style="padding-bottom:15px;">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Filter</label>
                                <input id="filterbillinghistory" type="text" class=" form-control" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                            </div>
                            <div class="form-group hide">
                                <label>Show</label>
                                <select class="form-control itable-pagesize" style="width: auto;" onchange="itablelookupnoreg.refresh()">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="datatable-scroll table-responsive">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th class="sorting" data-itable-sorting="NRM">NRM<i></i></th>
                                    <th class="sorting text-center" data-itable-sorting="NamaPasien">Nama Pasien<i></i></th>
                                    <th class="sorting text-center" data-itable-sorting="NoIdentitas">No Identitas<i></i></th>
                                    <th class="sorting text-center" data-itable-sorting="Tanggal">TglLahir<i></i></th>
                                    <th class="sorting" data-itable-sorting="Alamat">Alamat<i></i></th>
                                    <th class="sorting text-center" data-itable-sorting="Phone">Phone<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookupnoreg.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookupnoreg;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookupnoreg = new iTable({
            url: '@Url.Action("ListLookupRegistrasiHistory")',
            table: document.getElementById('lookupnoreg'),
            orderby: 'NoKartu',
            orderbytype: true,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append('<tr><td colspan="9" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>');
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablelookupnoreg.detailactive(this)">';

                        // column
                        tbody += '<td>' + value.NRM + '</td>';
                        tbody += '<td>' + (value.NamaPasien || '-') + '</td>';
                        tbody += '<td>' + value.NoIdentitas + '</td>';
                        tbody += '<td class="text-center">' + value.Tanggal + '</td>';
                        tbody += '<td>' + (value.Alamat || '-') + '</td>';
                        tbody += '<td>' + (value.Phone || '-') + '</td>';

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        $('#modallookupnoreg').on('hidden.bs.modal', function () {
            //$('body').addClass('modal-open');
            itablelookupnoreg.refresh();
        });
        $('#modallookupnoreg').on('shown.bs.modal', function (e) {
            $('#modallookupnoreg [data-itable-filter="All"]').focus();
        });

        itablelookupnoreg.openmodal = function (t) {
            $('#noregbuttonhistory').val('');
            $('#filterbillinghistory').val('');
            itablelookupnoreg.refresh();
            $('#modallookupnoreg').modal();
            $('.modal-backdrop:last').css('z-index', $('#modallookupnoreg').css('z-index') - 1);
        }

        itablelookupnoreg.detailactive = function(t) {
            if ($(t).hasClass('bg-primary')) {
                itablelookupnoreg.selected(t);
                $('#filterbillinghistory').val('');
            } else {
                $(t).closest('tbody').find('.bg-primary').removeClass('bg-primary');
                $(t).addClass('bg-primary');
            }
        }

        itablelookupnoreg.selected = function(t) {
            var model = JSON.parse($(t).closest('.modal').find('table tbody tr.bg-primary').data('model'));
            $('#noregbuttonhistory').val(model.NRM);
           
            $(t).closest('.modal').modal('hide');
            itablehistorypemakaianobat.openmodal(true);
            $('#modallookupnoreg').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
        }

    });
</script>