﻿@using Inventory.Helper

<style>
    #modalsetup .input-detail td {
        white-space: nowrap;
    }
</style>


<div id="modalsetuphistorykunjungan" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Riwayat Kunjungan</h4>
            </div>
            <form id="lookuppakethsitory" autocomplete="off">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header" style="padding-bottom:15px;">
                        <div class="form-inline">

                        </div>
                    </div>
                    <div class="datatable-scroll">
                        <table id="tableTelaahObat" class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th class="">Nama Pasien</th>
                                    <th class="">Section Name</th>
                                    <th class="">Dokter</th>
                                    <th class="">Tanggal Kunjungan</th>
                                </tr>
                            </thead>
                            <tbody id="targethistorykunjungan">
                                  
                            </tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    _dataHistoryKunjungan();
    function _dataHistoryKunjungan() {
        $.ajax({
            url: "@Url.Action("DetailhistoryKunjungan", "FarmasiBilling")",
            type: "GET",
            data: {
                nrm: $("#modalsetup input[name='NRM']").val()
            },
            dataType : "JSON",
            success: function (dt_kunjungan) {
                if (dt_kunjungan.IsSuccess) {
                    var html = "";
                    var d = new Date();
                    if (dt_kunjungan.Data.length > 0) {
                        for (var i = 0; i < dt_kunjungan.Data.length; i++) {
                            html += `
                                <tr>
                                    <td>`+ dt_kunjungan.Data[i].NamaPasien + `</td>
                                    <td>`+ dt_kunjungan.Data[i].SectionName + `</td>
                                    <td>`+ dt_kunjungan.Data[i].Dokter + `</td>
                                    <td>`+ formatdate(dt_kunjungan.Data[i].TglTerakhirKunjungan) + `</td>
                                </tr> 
                        `;
                        }
                    } else {
                        html += `
                                <tr>
                                    <td colspan="7" class="text-center">--- Tidak Ada Data ---</td>
                                </tr> 
                        `;
                    }
                    $("#targethistorykunjungan").html(html);
                } else {
                    html += `
                                <tr>
                                    <td colspan="7" class="text-center">--- Tidak Ada Data ---</td>
                                </tr> 
                        `;
                    $("#targethistorykunjungan").html(html);
                    alert(dt_kunjungan.Message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus, errorThrown);
            }
        });
        $('#modalsetuphistorykunjungan').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    }

</script>


