﻿@using Inventory.Helper
<style>
    #modalhistorypemakaianobat table td,
    #modalhistorypemakaianobat table th {
        white-space: nowrap;
    }
</style>
<div id="modalhistorypemakaianobat" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">History Pemakaian Obat</h4>
            </div>
            <form id="historypemakaianobat" autocomplete="off">
                <div class="form-group">
                    <div class="col-md-4">
                        <label>N.R.M</label>
                        <div class="input-group">
                            <input data-itable-filter="All" id="noregbuttonhistory" type="text" name="NoReg" class="form-control all-readonly" readonly="readonly" />
                            <div class="input-group-btn">
                                <a class="btn btn-primary view-disabled" onclick="itablelookupnoreg.openmodal()"><i class="icon-zoomin3"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>Dari Tanggal</label>
                        <input type="date" class="form-control" onchange="itablehistorypemakaianobat.pageindex = 0; itablehistorypemakaianobat.refresh();" data-itable-filter="PeriodeStartHistory" value="@(ConfigModel.Develop ? "" : DateTime.Today.AddMonths(-1).AddDays(+1).ToString("yyyy-MM-dd"))">
                    </div>
                    <div class="col-md-2">
                        <label>Sampai Tanggal</label>
                        <input type="date" class="form-control" onchange="itablehistorypemakaianobat.pageindex = 0; itablehistorypemakaianobat.refresh();" data-itable-filter="PeriodeEndHistory" value="@(ConfigModel.Develop ? "" : DateTime.Today.AddDays(+1).ToString("yyyy-MM-dd"))">
                    </div>
                    <div class="col-md-1">
                        <label>Page</label>
                        <select class="form-control itable-pagesize" onchange="itablehistorypemakaianobat.pageindex = 0; itablehistorypemakaianobat.refresh();" style="width: auto;" name="show">
                            <option selected>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                    <div class="col-md-2 hide">
                        <button type="submit" style="margin-top : 27px" class="btn-save btn btn-primary"><i class="icon icon-search4"></i>Cari</button>
                    </div>
                </div>
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header" style="padding-bottom:15px;">
                    </div>
                    <div class="datatable-scroll table-responsive">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th class="sorting text-center" data-itable-sorting="Tanggal">Tanggal<i></i></th>
                                    <th class="sorting" data-itable-sorting="Nama_Barang">Nama Barang<i></i></th>
                                    <th class="sorting text-center" data-itable-sorting="AturanPakai">Aturan Pakai<i></i></th>
                                    <th class="sorting text-center" data-itable-sorting="JmlObat">Jumlah Obat<i></i></th>
                                    <th class="sorting" data-itable-sorting="HargaSatuan">Harga Satuan<i></i></th>
                                    <th class="sorting text-center" data-itable-sorting="AsalPasien">Asal Pasien<i></i></th>
                                    <th class="sorting text-center" data-itable-sorting="AsalPasien">No Bukti<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            @*<div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablehistorypemakaianobat.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>*@
        </div>
    </div>
</div>

<script>
    var itablehistorypemakaianobat;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablehistorypemakaianobat = new iTable({
            url: '@Url.Action("ListHistoryPemakaianObat")',
            table: document.getElementById('historypemakaianobat'),
            orderby: 'NoBukti',
            orderbytype: true,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tanggalsama = '';
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append('<tr><td colspan="9" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>');
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablehistorypemakaianobat.detailactive(this)">';

                        // column
                        if (tanggalsama == value.TglFarmasi) {
                            tbody += '<td class="text-center"></td>';
                        } else {
                            tbody += '<td class="text-center text-bold">' + value.Tanggal + '</td>';
                        }
                        tbody += '<td>' + value.Nama_Barang + '</td>';
                        tbody += '<td>' + value.AturanPakai + '</td>';
                        tbody += '<td class="text-center">' + (value.JmlObat || 0) + '</td>';
                        tbody += '<td>' + (value.HargaSatuan || 0) + '</td>';
                        tbody += '<td>' + (value.AsalPasien || '-') + '</td>';
                        tbody += '<td>' + (value.NoBukti || '-') + '</td>';

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));

                        tanggalsama = value.TglFarmasi;
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        $('#modalhistorypemakaianobat').on('hidden.bs.modal', function () {
            //$('body').addClass('modal-open');
            $('body').css("padding-right", "");
            itablehistorypemakaianobat.refresh();
            $('#filterbilling').val('');
        });
        $('#modalhistorypemakaianobat').on('shown.bs.modal', function (e) {
            $('body').addClass('modal-open');
            $('#modalhistorypemakaianobat [data-itable-filter="All"]').focus();
            $('#filterbilling').val('');
        });

        itablehistorypemakaianobat.openmodal = function (t) {
            $('#filterbilling').val('');
            itablehistorypemakaianobat.refresh();
            $('#modalhistorypemakaianobat').modal();
            $('.modal-backdrop:last').css('z-index', $('#modalhistorypemakaianobat').css('z-index') - 1);
        }

        itablehistorypemakaianobat.detailactive = function(t) {
            if ($(t).hasClass('bg-primary')) {
                itablehistorypemakaianobat.selected(t);
                $('#filterbilling').val('');
            } else {
                $(t).closest('tbody').find('.bg-primary').removeClass('bg-primary');
                $(t).addClass('bg-primary');
            }
        }

        itablehistorypemakaianobat.selected = function(t) {
            var model = JSON.parse($(t).closest('.modal').find('table tbody tr.bg-primary').data('model'));
            isetup.form['NoReg'].value = model.NoReg;
            isetup.form['NRM'].value = model.NRM;
            isetup.form['Phone_Reg'].value = model.Phone_Reg;
            isetup.form['Nama'].value = model.Nama;
            isetup.form['Alamat'].value = model.Alamat;
            isetup.form['Gender'].value = model.Gender;
            isetup.form['Umur'].value = model.UmurTahun ? (model.UmurTahun + ' Thn ' + model.UmurBulan + ' Bln') : '';
            isetup.form['BeratBadan'].value = model.BeratBadan;
            isetup.form['Kerjasama'].value = model.Perusahaan;
            isetup.form['NoKartu'].value = model.NoKartu;
            isetup.form['SectionAsal'].value = model.SectionAsal;
            isetup.form['Dokter'].value = model.DokterID;
            isetup.form['DokterNama'].value = model.NamaDokter;
            $(isetup.form['SectionAsal']).trigger('change');
            $(isetup.form['Dokter']).trigger('change');

            $('#Nama').text(model.Nama);
            $('#Alamat').text(model.Alamat);
            $('#Phone_Reg').text(model.Phone_Reg);

            if (isetup.form['Kerjasama'].value == '') {
                $('#Kerjasama').text('UMUM');
            } else {
                $('#Kerjasama').text(model.Perusahaan);
            }
            $('#NoKartu').text(model.NoKartu);
            if (model.Perusahaan == 'BPJS KESEHATAN') {
                $('#EstimasiBiaya').text(getcurrencyfromfloat(model.EstimasiSisa));
                $('#estimas').removeClass('hidden');
            } else if (model.Perusahaan != 'BPJS KESEHATAN') {
                $('#EstimasiBiaya').text(getcurrencyfromfloat(model.EstimasiSisa));
                $('#estimas').addClass('hidden');
            }
            $('#NRM').text('[' + model.NRM + ']');
            if (model.Gender== 'M') {
                $('#JenisKelamin').addClass('fa fa-mars fa-lg');
            } else if (model.Gender == 'F') {
                $('#JenisKelamin').addClass('fa fa-venus fa-lg');
            }
            $('#Umur').text(model.UmurTahun ? (model.UmurTahun + ' Thn ' + model.UmurBulan + ' Bln') : '');

            if (isetup.form['NoResep'].value) {
                isetup.form['NoResep'].value = '';
                isetup.form['TanggalResep'].value = '';
                isetup.form['Cito'].checked = false;
                $(isetup.form).find('.input-detail tbody tr.lockdelete, .input-detail tbody tr.fromlookupbarang').remove();
            } else {
                $(isetup.form).find('.input-detail tbody tr.lockdelete, .input-detail tbody tr.fromlookupbarang').remove();
            }

            //$(t).on('hidden.bs.modal', e => {
            //    $(e.currentTarget).unbind();
            //    itablelookupbarang.openmodal(true);
            //    //$('#modalsetup').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
            //});

            $(t).closest('.modal').modal('hide');
            $('#filterbilling').val('');
            
        }

    });
</script>