﻿@{
    ViewBag.Title = "Billing";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@using Inventory.Helper
@using Microsoft.AspNet.Identity

<style>
    #formtable table td,
    #formtable table th {
        white-space: nowrap;
    }

    #formtable .iconstatus {
        margin-right: 3px;
        margin-left: 3px;
    }
</style>

<form id="formtable">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="panel-title"></div>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a class="panel-action action-plus" onclick="javascript:isetup.opensetup('CREATE')"></a></li>
                    <li><a class="panel-action action-filter" href="javascript:itable.openfilter()"></a></li>
                    <li><a class="panel-action action-help" href="javascript:itable.oprnmodalhelp()"></a></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label>Filter</label>
                <input type="text" class="form-control" onchange="itable.pageindex = 0; itable.refresh();" data-itable-filter="All" value="" />
            </div>
            <div class="col-md-2">
                <label>Dari Tanggal</label>
                <input type="date" class="form-control" onchange="itable.pageindex = 0; itable.refresh();" data-itable-filter="PeriodeStart" value="@(ConfigModel.Develop ? "" : DateTime.Today.ToString("yyyy-MM-dd"))">
            </div>
            <div class="col-md-2">
                <label>Sampai Tanggal</label>
                <input type="date" class="form-control" onchange="itable.pageindex = 0; itable.refresh();" data-itable-filter="PeriodeEnd" value="@(ConfigModel.Develop ? "" : DateTime.Today.ToString("yyyy-MM-dd"))">
            </div>
            <div class="col-md-1">
                <label>Page</label>
                <select class="form-control itable-pagesize" onchange="itable.pageindex = 0; itable.refresh();" style="width: auto;">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <div class="col-md-5 text-right">
                <label>&nbsp;</label><br />
                <button onclick="itablelookupnoreg.openmodal(false)"  class="btn-save btn btn-primary"><i class="icon icon-plus2"></i>History Pemakaian Obat</button>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header">
                <input type="hidden" class="form-control" data-itable-filter="All" value="" />
                <select class="form-control itable-pagesize hide" style="width: auto;">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <div class="datatable-scroll table-responsive">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            <th class="sorting" data-itable-sorting="NoBukti">No Bukti<i></i></th>
                            <th class="sorting text-center" data-itable-sorting="Tanggal">Tanggal<i></i></th>
                            <th class="sorting" data-itable-sorting="Registrasi_NoReg">No Reg<i></i></th>
                            <th class="hide" data-itable-sorting="Resep_NoResep">NoResep<i></i></th>
                            <th class="sorting text-center" data-itable-sorting="NRM">NRM<i></i></th>
                            <th class="sorting" data-itable-sorting="NamaPasien">Nama<i></i></th>
                            <th class="sorting hide" data-itable-sorting="Kerjasama_JenisKerjasama">Kerjasama<i></i></th>
                            <th class="hidden" data-itable-sorting="NamaDokter">Dokter<i></i></th>
                            <th class="hide" data-itable-sorting="Registrasi_NoKartu">NoKartu<i></i></th>
                            <th class="sorting" data-itable-sorting="SectionAsal_SectionName">Section<i></i></th>
                            <th class="text-center sorting_disabled" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<div id="modalfilter" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form autocomplete="off" onsubmit="itable.filtersubmit(this,event)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Filter</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Filter</label>
                            <div class="col-md-8">
                                <input type="text" name="all" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Periode</label>
                            <div class="col-md-8">
                                <input type="date" name="periode" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Sampai</label>
                            <div class="col-md-8">
                                <input type="date" name="sampai" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Show</label>
                            <div class="col-md-8">
                                <select class="form-control" style="width: auto;" name="show">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="icon icon-check"></i> OK</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalhelp" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Info</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="text-center alpha-danger">BATAL</td>
                                <td class="text-center alpha-primary">AUDIT</td>
                                <td class="text-center alpha-success">PASIEN LOYAL</td>
                                <td class="text-center alpha-warning">PASIEN BERMASALAH</td>
                            </tr>
                            <tr>
                                <td class="text-center alpha-danger"><i style="font-size: 40px;" class="icon-cross3 text-danger"></i></td>
                                <td class="text-center alpha-primary"><i style="font-size: 40px;" class="icon-warning text-success"></i></td>
                                <td class="text-center alpha-success"><i style="font-size: 40px;" class="icon-thumbs-up3 text-danger"></i></td>
                                <td class="text-center alpha-warning"><i style="font-size: 40px;" class="icon-thumbs-down3 text-danger"></i></td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'NoBukti',
            orderbytype: false,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0) {
                        tbody += '<tr><td colspan="16" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>';
                    }
                    $.each(r.Data, function (index, value) {
                        let icon = '';
                        if (value.Batal) {
                            icon += '<i class="icon-stack-cross3 text-danger iconstatus"></i>';
                        }
                        if (value.Audit) {
                            icon += '<i class="icon-stack-warning text-primary iconstatus"></i>';
                        }
                        if (value.PasienLoyal) {
                            icon += '<i class="icon-stack-thumbs-up3 text-success iconstatus"></i>';
                        }
                        if (value.PasienBermasalah) {
                            icon += '<i class="icon-stack-thumbs-down3 text-warning iconstatus"></i>';
                        }

                        tbody += '<tr>';
                        // JS Columns
                        tbody += `<td class="text-left"><a onclick="extend(this,'${value.NoBukti}', '${value.Dokter}' , '${value.Kerjasama}', '${value.Perusahaan}', '${value.NoReg}')"><span class='icon-diff-added'></span></a>&nbsp;${value.NoBukti}</td>`;
                        // ----- JS Columns

                        // column
                        tbody += '<td class="text-center">' + (value.Tanggal || '-') +' - '+ (value.Jam || '-') + '</td>';
                        tbody += '<td>' + (value.NoReg || '-') + '</td>';
                        tbody += '<td class="text-center hidden">' + (value.Jam || '-') + '</td>';
                        tbody += '<td class="hidden">' + (value.NoResep || '-') + '</td>';
                        tbody += '<td class="text-center">' + (value.NRM || '-') + '</td>';
                        tbody += '<td>' + (value.Nama || '-') + ' - ' + (value.Gender || '-') + '</td>';
                        //tbody += '<td>' + (value.Kerjasama || '-') + (value.Perusahaan || '-') + '</td>';
                        tbody += '<td class="hidden">' + (value.Dokter || '-') + '</td>';
                        tbody += '<td>' + (value.Section || '-') + '</td>';

                        tbody += '<td class="text-center">';
                        tbody += '<ul class="icons-list">';
                        tbody += '<li class="dropdown">';
                        tbody += '<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<ul class="dropdown-menu dropdown-menu-right">';

                        // action
                        tbody += '<li><a href="javascript:isetup.opensetup(\'VIEW\', { id : \'' + value.NoBukti + '\'})"><i class="icon-eye"></i> View</a></li>';
                        tbody += '<li><a target="_blank" href="@Url.Action("ExportPDF", "Report", new { category = "Transaksi", filename= "Rpt_NotaFarmasi.rpt" })&param=[{\'Name\':\'@@NoBukti\',\'ParameterType\':4,\'Value\':\'' + value.NoBukti + '\'}]"><i class="icon-printer"></i> Report</a></li>';
                        tbody += '<li><a target="_blank" href="@Url.Action("ExportPDF", "Report", new { category = "Transaksi", filename= "eTiketObatFarmasi.rpt" })&param=[{\'Name\':\'@@NoBukti\',\'ParameterType\':4,\'Value\':\'' + value.NoBukti + '\'},{\'Name\':\'@@KodeBarang\',\'ParameterType\':4,\'Value\':\'-\'}]"><i class="icon-printer"></i> E-Tiket</a></li>';
                        tbody += '<li><a href="javascript:isetupnew.opensetup(\'EDIT\', { id : \'' + value.NoBukti + '\'})"><i class="icon-pencil"></i> Edit</a></li>';

                        tbody += '</ul>';
                        tbody += '</li>';
                        tbody += '</ul>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    if (r.Data.length > 0)
                        tbody += '<tr style="height: 140px;"><td colspan="16"></td></tr>';
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itable.refresh();

        itable.openfilter = function () {
            var f = $('#modalfilter form')[0];
            f['periode'].value = $('#formtable [data-itable-filter="PeriodeStart"]')[0].value;
            f['sampai'].value = $('#formtable [data-itable-filter="PeriodeEnd"]')[0].value;
            f['all'].value = $('#formtable [data-itable-filter="All"]')[0].value;
            f['show'].value = $('#formtable .itable-pagesize')[0].value;
            $('#modalfilter').modal();
        }

        itable.filtersubmit = function (t, e) {
            e.preventDefault();
            var f = $('#modalfilter form')[0];
            $('#formtable [data-itable-filter="PeriodeStart"]')[0].value = f['periode'].value;
            $('#formtable [data-itable-filter="PeriodeEnd"]')[0].value = f['sampai'].value;
            $('#formtable [data-itable-filter="All"]')[0].value = f['all'].value;
            $('#formtable .itable-pagesize')[0].value = f['show'].value;
            itable.pageindex = 0;
            itable.refresh();
            $('#modalfilter').modal('hide');
        }

        itable.oprnmodalhelp = () => {
            $('#modalhelp').modal();
        }
    });

    const extend = (t, NoBukti, Dokter, Kerjasama, Perusahaan, NoReg) => {
        const tr = $(t).closest('tr');
        if (tr.next().hasClass('child')) {
            $(t).find('span').removeClass('icon-diff-removed').addClass('icon-diff-added');
            tr.next().remove();
        } else {
            tr.after(`
                <tr class="child">
                    <td class="child" colspan="8">
                        <ul>
                            <li>
                                <span class ="dtr-title">No Bukti</span>
                                <span class ="dtr-data">${NoBukti}</span>
                            </li>
                            <li>
                                <span class ="dtr-title">Kerjasama</span>
                                <span class ="dtr-data">${Kerjasama} ${Perusahaan}</span>
                            </li>
                            <li>
                                <span class ="dtr-title">Dokter</span>
                                <span class ="dtr-data">${Dokter}</span>
                            </li>
                            <li>
                                <span class ="dtr-title">No Reg</span>
                                <span class ="dtr-data">${NoReg}</span>
                            </li>
                        </ul>
                    </td>
                </tr>
            `);
            $(t).find('span').removeClass('icon-diff-added').addClass('icon-diff-removed');
        }
    };

    function itablehistory(){
        $("#modalhistoryobat").modal('show');
    }
</script>



@Html.Partial("Setup")
@Html.Partial("Setupnew")
@Html.Partial("_LookUpBarang")
@Html.Partial("_LookUpNoReg")
@Html.Partial("_LookUpPaket")
@Html.Partial("_LookUpRegistrasi")
@Html.Partial("_LookUpResep")
@Html.Partial("_LookUpHistory")
@Html.Partial("_LookUpHistoryKunjungan")
@Html.Partial("TelaahObat")
@Html.Partial("TelaahResep")
@Html.Partial("IndexHistoryPemakaianObat")