﻿@using Inventory.Helper

<style>

    #formcustom .col-md-1 {
        width: 6.333333%;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    #modalsetup .input-detail td {
        white-space: nowrap;
    }

    tr.active td {
        background-color: #a1a1a1 !important;
    }

    .panel-red {
        background-color: #c3ebff;
        color: #313447;
    }

    .btn-lain {
        background-color: #2c404c;
        color: #ffffff;
        border-color: #c5c0c0;
    }

    .panel-bodycustom {
        padding: 5px;
    }

    .form-group {
        margin-bottom: 8px;
        position: relative;
    }

    .teallain {
        color: #2c404c;
    }

    p.dotted {
        border-style: dotted;
        color: #215e8e;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }
</style>

<div id="modalsetup" class="modal fade " key-keyboard="false" role="dialog" data-keyboard="false">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Billing</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="KodePaket" />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">No Bukti</label>
                                    <div class="col-md-8">
                                        <input type="text" name="NoBukti" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Tanggal</label>
                                    <div class="col-md-8">
                                        <input type="datetime-local" required name="Tanggal" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group hide">
                                    <label class="col-md-4 control-label">Spesialis</label>
                                    <div class="col-md-8">
                                        <input type="text" required name="Spesialis" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Section Asal</label>
                                    <div class="col-md-8">
                                        <select name="SectionAsal" required class="">@Html.Raw(HList.FarmasiResepSection)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Dokter</label>
                                    <div class="col-md-8">
                                        <select required onchange="isetup.dokteronchange()" name="Dokter">@Html.Raw(HList.FarmasiBillingDokter)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" name="DokterNama" class="form-control all-readonly" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Reg</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" name="NoReg" class="form-control all-readonly" />
                                            <div class="input-group-btn">
                                                <a id="noregbutton" class="btn btn-primary view-disabled" onclick="itablelookupregistrasi.openmodal()"><i class="icon-zoomin3"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Resep</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" name="NoResep" class="form-control all-readonly" />
                                            <div class="input-group-btn">
                                                <a id="noresepbutton" class="btn btn-primary view-disabled" onclick="itablelookupresep.openmodal()"><i class="icon-zoomin3"></i></a>
                                                <button type="button" class="btn btn-lain text-bold" onclick="isetuptelaahresep()"><i class="icon-file-check2 position-left"></i>Telaah</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group hide">
                                    <label class="col-md-3 control-label">Tanggal</label>
                                    <div class="col-md-9">
                                        <input type="datetime-local" name="TanggalResep" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 control-label">
                                        <label>
                                            Paket Obat
                                        </label>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <label class="input-group-addon">
                                                <input type="checkbox" class="checkbox-inline" name="PaketObat" onclick="checkedpaket()" />
                                            </label>
                                            <input type="text" name="Paket" class="form-control all-readonly" />
                                            <div class="input-group-btn">
                                                <a id="paketobat" class="btn btn-primary disabled view-disabled" onclick="itablelookuppaket.openmodal()"><i class="icon-zoomin3"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 control-label">
                                        <label>
                                            <input type="checkbox" name="COB" />
                                            COB
                                        </label>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <div class="col-md-12">
                                        <p class="dotted" style="display:none;">
                                            DIAGNOSA
                                        </p>
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <a style="float:left" class="teal teallain text-bold view-disabled" onclick="isetuphistory()"><i class="icon-file-eye2 position-left"></i> History Obat</a>
                                    </div>
                                    <div class="col-md-4">
                                        <a style="float:left" class="teal teallain text-bold view-disabled" onclick="isetuphistorykunjungan()"><i class="icon-file-eye2 position-left"></i>History Kunjungan</a>
                                    </div>
                                    <div class="col-md-2">
                                        <label>
                                            <input type="checkbox" name="Cito" class="all-disabled" />
                                            Cito
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <label style="float:right">
                                            <input type="checkbox" name="IncludeJasa" />
                                            Include Jasa
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 hide">
                                <fieldset class="content-group">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">NRM</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text" name="NRM" class="form-control all-readonly" />
                                                <div class="input-group-btn">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Nama</label>
                                        <div class="col-md-9">
                                            <input type="text" name="Nama" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Alamat</label>
                                        <div class="col-md-9">
                                            <input type="text" name="Alamat" class="form-control all-readonly" />
                                            <input type="text" name="Phone_Reg" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Gender</label>
                                        <div class="col-md-9">
                                            <input type="text" name="Gender" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Umur</label>
                                        <div class="col-md-9">
                                            <input type="text" name="Umur" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Berat Badan</label>
                                        <div class="col-md-9">
                                            <input type="text" name="BeratBadan" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Kerjasama</label>
                                        <div class="col-md-9">
                                            <input type="text" name="Kerjasama" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No Kartu</label>
                                        <div class="col-md-9">
                                            <input type="text" name="NoKartu" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-bodycustom panel-red has-bg-image">
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <b class="h7 text-bold icon-user"></b>
                                            <b class="h7 text-bold" id="Nama"></b>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <b class="h7 text-bold icon-profile"></b>
                                            <b class="h7 text-bold" id="NRM"></b>&ensp;
                                            <b class="h7 text-bold" id="JenisKelamin"></b>

                                        </div>
                                        <div class="col-md-4">
                                            <b class="h7 text-bold icon-phone"></b>
                                            <b class="h7 text-bold" id="Phone_Reg"></b>
                                        </div>
                                        <div class="col-md-4">
                                            <b class="h7 text-bold icon-calendar"></b>
                                            <b class="h7 text-bold" id="Umur"></b>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <b class="h7 text-bold icon-location4"></b>
                                            <b class="h7 text-bold" id="Alamat"></b>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-11">
                                            <b class="h7 text-bold icon-credit-card"></b>
                                            <b class="h7 text-bold" id="Kerjasama"></b> -
                                            <b class="h7 text-bold" id="NoKartu"></b>
                                        </div>
                                    </div>
                                    <div id="estimas" class="form-group">
                                        <div class="col-md-11">
                                            <b class="h6 text-bold icon-coins"></b>
                                            <b class="h6 text-bold">Estimasi Sisa :</b>&ensp;
                                            <b class="h7 text-bold" id="EstimasiBiaya"></b>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="tablebarang" class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a id="lookupbaranghide" onclick="itablelookupbarang.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td style="width:50px;" class="text-center view-hide"></td>
                                                <td style="width:50px;" class="text-center view-disabled"></td>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                                <td>Satuan</td>
                                                <td style="min-width: 160px;">Aturan1</td>
                                                <td style="min-width: 160px;">Aturan2</td>
                                                <td class="text-center">TglED</td>
                                                <td class="text-center">Jml Resep</td>
                                                <td class="text-center">Jml Obat</td>
                                                <td class="text-center">Stok</td>
                                                <td class="text-right" style="min-width: 100px;">Harga</td>
                                                <td class="text-right" style="min-width: 80px;">Disc</td>
                                                <td class="text-right" style="min-width: 100px;">Jumlah</td>
                                                <td style="min-width: 180px;">Racikan</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Keterangan</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Keterangan" class="form-control view-hide" />
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Sub Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="SubTotal" class="form-control all-readonly text-right" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Biaya Racik</label>
                                    <div class="col-md-9">
                                        <input type="text" onchange="isetup.hitungtotal()" name="BiayaRacik" class="form-control text-right" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Grand Total</label>
                                    <div class="col-md-8">
                                        <input type="text" name="GrandTotal" class="form-control all-readonly text-right" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Kelebihan Plafon</label>
                                    <div class="col-md-8">
                                        <input type="text" name="KelebihanPlafon" class="form-control text-right" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="pull-left btn btn-lain text-bold btn-proses-telaahobat" onclick="isetuptelaahobat()"><i class="icon-file-check2 position-left"></i>Telaah Obat</button>
                    <button id="createmodal" type="button" class="pull-right btn btn-lain btn-proses-tambahbaru" onclick="isetuptambah()"><i class="icon-add position-center"></i></button>
                    <a style="float:right" type="button" class="teal text-bold btn btn-proses-printresep" onclick="isetupprintresep(this,event)"><i class="icon-shredder position-left"></i>Print</a>
                    <a style="float:right" type="button" class="teal text-bold btn btn-proses-printresep" onclick="isetup.printetiket(0)"><i class="icon-shredder position-left"></i>Print e-tiket</a>
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modaleresep" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">E-Resep</h4>
            </div>
            <form onsubmit="isetup.modalereseponsubmit(event)">
                <input type="hidden" name="eresepid" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep1" />
                                    06:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep2" />
                                    07:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep3" />
                                    10:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep4" />
                                    11:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep5" />
                                    12:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep6" />
                                    14:00
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep7" />
                                    16:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep8" />
                                    18:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep9" />
                                    21:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep10" />
                                    22:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep11" />
                                    24:00
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="eresep12" />
                                    02:00
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary"><i class="icon-check"></i> OK</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>

<script>
    function isetuptelaahresep() {
        $.ajax({
            url: "@Url.Action("checkTelaahFarmasi","FarmasiBilling")",
            type: "GET",
            data: {
                nobukti: $("input[name='NoResep']").val(),
            },
            dataType: "JSON",
            success: function (dt_telaah) {
                if (dt_telaah.IsSuccess) {

                    _dataTelaaah();
                    $("#modalsetuptelaahresep").modal('show');
                } else {

                    if (dt_telaah.Jenis) {
                        alert(dt_telaah.Message);
                        return;
                    }

                    $("#modalsetuptelaahresep").modal('show');
                    var html = "";
                    for (var i = 0; i < dt_telaah.Data.length; i++) {
                        html += `
                                <tr>
                                    <td class="hidden">
                                        <input type="text" name="NoUrut" value="`+ dt_telaah.Data[i].NoUrut + `" />
                                    </td>
                                    <td class="">
                                    `+ dt_telaah.Data[i].Telaah + `
                                    </td>
                                    <td class="">
                                        <input type="checkbox" class="check_telaahresep" name="checkTelaahResep" `+ (dt_telaah.Data[i].Iya == true ? 'checked' : '') + `     value="" />
                                    </td>
                                    <td class="">
                                        <input type="text" class="keteranganresepppp form-control" name="ketTelaahResep" value="`+ dt_telaah.Data[i].Keterangan + `" />
                                    </td>
                                </tr>
                        `;
                    }
                    $("#targetTelaah").html(html);


                    //alert(dt_telaah.Message);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert("Tidak Ada NoResep");
            }
        });

        $('#modalsetuptelaahresep').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    }
</script>

<script>

    function isetuptelaahobat() {
        $.ajax({
            url: "@Url.Action("checkTelaahObat", "FarmasiBilling")",
            type: "GET",
            data: {
                nobukti: $("input[name='NoBukti']").val(),
            },
            dataType : "JSON",
            success: function (dt_telaah) {
                if (dt_telaah.IsSuccess) {
                    _dataTelaaahObat();
                    $("#modalsetuptelaahobat").modal('show');
                } else {
                    $("#modalsetuptelaahobat").modal('show');
                    var html = "";
                    for (var i = 0; i < dt_telaah.Data.length; i++) {
                        html += `
                                <tr>
                                    <td class="hidden">
                                        <input type="text" name="NoUrut" value="`+ dt_telaah.Data[i].NoUrut + `" />
                                    </td>
                                    <td class="">
                                    `+ dt_telaah.Data[i].Telaah + `
                                    </td>
                                    <td class="">
                                        <input type="checkbox" class="check_telaahresep" name="checkTelaahResep" `+ (dt_telaah.Data[i].Iya == true ? 'checked' : '') + `     value="" />
                                    </td>
                                    <td class="">
                                        <input type="text" class="keteranganresepppp form-control" name="ketTelaahResep" value="`+ dt_telaah.Data[i].Keterangan + `" />
                                    </td>
                                </tr>
                        `;
                    }
                    $("#targetTelaahObat").html(html);


                    //alert(dt_telaah.Message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus, errorThrown);
            }
        });

        $('#modalsetuptelaahobat').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    }

</script>

<script>
    $('#modalsetuphistory').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    function isetuphistory() {
        _dataHistory();
        $("#modalsetuphistory").modal('show');
    }
</script>

<script>
    $('#modalsetuphistory').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    function isetuphistorykunjungan() {
        _dataHistoryKunjungan();
        $("#modalsetuphistorykunjungan").modal('show');
    }
</script>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['NoBukti'].value = r.Data.NoBukti;
                    t['KodePaket'].value = r.Data.KodePaket;
                    t['Tanggal'].value = r.Data.Tanggal + 'T' + r.Data.Jam;
                    t['Dokter'].value = r.Data.Dokter;
                    t['DokterNama'].value = r.Data.DokterNama;
                    t['Phone_Reg'].value = r.Data.Phone_Reg;
                    t['Spesialis'].value = r.Data.Spesialis;
                    t['SectionAsal'].value = r.Data.SectionAsal;
                    t['PaketObat'].checked = r.Data.PaketObat;
                    t['Paket'].value = r.Data.Paket;
                    t['IncludeJasa'].checked = r.Data.IncludeJasa;
                    t['NoResep'].value = r.Data.NoResep;
                    t['TanggalResep'].value = r.Data.TanggalResep + 'T' + r.Data.JamResep;
                    t['Cito'].checked = r.Data.Cito;
                    t['COB'].checked = r.Data.COB;
                    t['NoReg'].value = r.Data.NoReg;
                    t['NRM'].value = r.Data.NRM;
                    t['Nama'].value = r.Data.Nama;
                    t['Alamat'].value = r.Data.Alamat;
                    t['Gender'].value = r.Data.Gender;
                    t['Umur'].value = r.Data.UmurTahun ? (r.Data.UmurTahun + ' Thn ' + r.Data.UmurBulan + ' Bln') : '';
                    t['BeratBadan'].value = r.Data.BeratBadan;
                    t['Kerjasama'].value = r.Data.Kerjasama;
                    t['NoKartu'].value = r.Data.NoKartu;
                    t['Keterangan'].value = r.Data.Keterangan;

                    //label
                    $('#Nama').text(r.Data.Nama);
                    $('#Alamat').text(r.Data.Alamat);
                    $('#Phone_Reg').text(r.Data.Phone_Reg);
                    if (t['Kerjasama'].value == '') {
                        $('#Kerjasama').text('UMUM');
                    } else {
                        $('#Kerjasama').text(r.Data.Kerjasama);
                    }
                    $('#NoKartu').text(r.Data.NoKartu);
                    if (r.Data.Kerjasama == 'BPJS KESEHATAN' || r.Data.Kerjasama == 'BPJS / BPJS KESEHATAN') {
                        $('#EstimasiBiaya').text(getcurrencyfromfloat(r.Data.EstimasiSisa));
                        $('#estimas').removeClass('hidden');
                    } else if (r.Data.Kerjasama != 'BPJS KESEHATAN' || r.Data.Kerjasama != 'BPJS / BPJS KESEHATAN') {
                        $('#EstimasiBiaya').text(getcurrencyfromfloat(r.Data.EstimasiSisa));
                        $('#estimas').addClass('hidden');
                    }
                    $('#NRM').text('[' + r.Data.NRM + ']');
                    if (r.Data.Gender == 'M')
                    {
                        $('#JenisKelamin').addClass('fa fa-mars fa-lg');
                    } else if (r.Data.Gender == 'F')
                    {
                        $('#JenisKelamin').addClass('fa fa-venus fa-lg');
                    }
                    $('#Umur').text(r.Data.UmurTahun ? (r.Data.UmurTahun + ' Thn ' + r.Data.UmurBulan + ' Bln') : '');

                    isetup.cleave_BiayaRacik.setRawValue(r.Data.BiayaRacik);
                    isetup.cleave_KelebihanPlafon.setRawValue(r.Data.KelebihanPlafon);

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Kode,
                            value.Nama,
                            value.Satuan,
                            value.Aturan1,
                            value.Aturan2,
                            value.TglED,
                            value.JumlahResep,
                            value.JumlahObat,
                            value.Stok,
                            value.Harga,
                            value.Racikan,
                            value.Disc,
                            false,
                            false,
                            value.Eresep1,
                            value.Eresep2,
                            value.Eresep3,
                            value.Eresep4,
                            value.Eresep5,
                            value.Eresep6,
                            value.Eresep7,
                            value.Eresep8,
                            value.Eresep9,
                            value.Eresep10,
                            value.Eresep11,
                            value.Eresep12,
                        );
                    });

                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        Tanggal: t['Tanggal'].value,
                        PaketObat: t['PaketObat'].checked,
                        Paket: t['KodePaket'].value,
                        NoResep: t['NoResep'].value,
                        NoReg: t['NoReg'].value,
                        Keterangan: t['Keterangan'].value,
                        IncludeJasa: t['IncludeJasa'].checked,
                        COB: t['COB'].checked,
                        Dokter: t['Dokter'].value,
                        SectionAsal: t['SectionAsal'].value,
                        NoResep: t['NoResep'].value,

                        SubTotal: getfloatfromcurrency(t['SubTotal'].value),
                        BiayaRacik: parseFloat(isetup.cleave_BiayaRacik.getRawValue()) || 0,
                        KelebihanPlafon: parseFloat(isetup.cleave_KelebihanPlafon.getRawValue()) || 0,

                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            var m = isetup.cleave_detail_harga.find(x => x.id === $(value).data('id'));
                            return {
                                Id : $(value).data('id'),
                                JumlahObat: getfloatfromcurrency($(value).find('.Qty').val() || 0),
                                QtyStok: getfloatfromcurrency($(value).find('.Stok').val() || 0),
                                Lock: $(value).find('.LockStock').val(),
                                Aturan1: $(value).find('.AturanPakai1').val(),
                                Aturan2: $(value).find('.AturanPakai2').val(),
                                TanggalED: $(value).find('.TanggalED').val(),
                                Harga: m.clave.getRawValue(),
                                Disc: $(value).find('.Disc').val(),
                                Racikan: $(value).find('.Racik').val(),
                                WaktuTiket1: m.eresep1 || false,
                                WaktuTiket2: m.eresep2 || false,
                                WaktuTiket3: m.eresep3 || false,
                                WaktuTiket4: m.eresep4 || false,
                                WaktuTiket5: m.eresep5 || false,
                                WaktuTiket6: m.eresep6 || false,
                                WaktuTiket7: m.eresep7 || false,
                                WaktuTiket8: m.eresep8 || false,
                                WaktuTiket9: m.eresep9 || false,
                                WaktuTiket10: m.eresep10 || false,
                                WaktuTiket11: m.eresep11 || false,
                                WaktuTiket12: m.eresep12 || false,
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    //isetup.modal.modal('hide');
                    $(isetup.form).find('.btn-proses-telaahobat').removeClass('hide');
                    $(isetup.form).find('.btn-save').addClass('hide');
                    $('#createmodal').removeClass('hide');
                    alertpopup('Simpan Sukses','success');
                    isetup.init();
                    var t = isetup.form;


                    $(t['SectionAsal']).attr('disabled', 'disabled');
                    $(t['Dokter']).attr('disabled', 'disabled');
                    $(t['PaketObat']).attr('disabled', 'disabled');
                    $(t['IncludeJasa']).attr('disabled', 'disabled');
                    $(t['Keterangan']).attr('disabled', 'disabled');
                    $(t['BiayaRacik']).attr('disabled', 'disabled');
                    $(t['KelebihanPlafon']).attr('disabled', 'disabled');
                    $('#noregbutton').addClass('disabled');
                    $('#noresepbutton').addClass('disabled');
                    $('#lookupbaranghide').addClass('disabled');
                    $("#tablebarang").find("thead tr td:nth-child(1)").addClass("hidden");
                    $("#tablebarang").find("tbody tr td:nth-child(1)").addClass("hidden");
		            $("#tablebarang").find("thead tr td:nth-child(3)").addClass("hidden");
		            $("#tablebarang").find("tbody tr td:nth-child(3)").addClass("hidden");
                    $('#tablebarang').find('input, textarea, button, select').attr('disabled', 'disabled');
                    //print
                    window.open('@Url.Action("ExportPDF", "Report")?category=Transaksi&filename=Rpt_NotaFarmasi.rpt&param=[{\'Name\':\'@@NoBukti\',\'ParameterType\':4,\'Value\':\'' + r.Id + '\'}]');
                    t['NoBukti'].value = r.Id;
                    $(t).find('.btn-proses-printresep').removeClass('hide');
                    $(t).find('.btn-proses-tambahbaru').removeClass('hide');
                    $('#filterbilling').val('');
                    $("#tablebarang").find("thead tr td:nth-child(2)").removeClass("hidden");
                    $("#tablebarang").find("tbody tr td:nth-child(2)").removeClass("hidden");
                } else alerterror(r.Message);
                itable.refresh();

            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                if (t['_PROCESS'].value === 'CREATE') {
                    $('#modalsetup').on('shown.bs.modal', e => {

                    });
                }
                else {
                    $(t).find('.btn-proses-telaahobat').removeClass('hide');
                }

            },
            onopenmodalcreate: function (t, param) {
                isetup.init();

                $(isetup.form).find('.input-detail tbody').html('');
                $('#modalsetup').on('shown.bs.modal', e => {
                    if (isetup.form['_PROCESS'].value === 'CREATE') {
                        itablelookupregistrasi.openmodal();
                        $(t).find('.btn-proses-telaahobat').addClass('hide');
                        $(t).find('.btn-proses-printresep').addClass('hide');
                        $('#modallookupbarang').on('hidden.bs.modal', e => {
                            $("#tablebarang").find("thead tr td:nth-child(2)").addClass("hidden");
                            $("#tablebarang").find("tbody tr td:nth-child(2)").addClass("hidden");
                        });

                        $('#modalsetup').on('hidden.bs.modal', function () { $('body').removeClass('modal-open'); });
                    } else if (t['_PROCESS'].value === 'VIEW') {
                        $(t).find('.btn-proses-telaahobat').removeClass('hide');
                        $(t).find('.btn-proses-printresep').removeClass('hide');
                        $(t).find('.btn-proses-telaahresep').removeClass('hide');
                        $('#modalsetup').on('shown.bs.modal', e => {
                            $("#tablebarang").find("thead tr td:nth-child(2)").removeClass("hidden");
                            $("#tablebarang").find("thead tr td:nth-child(3)").removeClass("hidden");
                        });
                        $(t).find('.btn-proses-tambahbaru').addClass('hide');
                        $('#modalsetup').on('hidden.bs.modal', function () { $('body').removeClass('modal-open'); });
                    }
                });
                $('#modalsetup').on('hidden.bs.modal', e => {
                    $("#tablebarang").find("thead tr td:nth-child(1)").removeClass("hidden");
                    $("#tablebarang").find("thead tr td:nth-child(3)").removeClass("hidden");
                });
                let h = new Date().getHours();
                let m = new Date().getMinutes();
                h = h < 10 ? '0' + h : h;
                m = m < 10 ? '0' + m : m;
                const time = 'T' + h + ':' + m;

                isetup.form['Tanggal'].value = formatdate(new Date()) + time;
                $(t).find('.input-detail tbody').html('');
                isetup.form['SectionAsal'].value = '@Request.Cookies["Inventory_Section_Id"].Value';
                isetup.form['Spesialis'].value = '';
                isetup.form['Dokter'].value = 'XX';
                $(isetup.form['Dokter']).trigger('change');
                isetup.cleave_detail_harga = [];

                $('#noregbutton').removeClass('disabled');
                $('#noresepbutton').removeClass('disabled');
                $('#lookupbaranghide').removeClass('disabled');
                $(t).find('.btn-proses-tambahbaru').addClass('hide');



                $('#Nama').text('-');
                $('#Alamat').text('-');

                $('#NoKartu').text('-');
                $('#NRM').text('-');
                $('#JenisKelamin').text();
                $('#Umur').text('-');
                $('#EstimasiBiaya').text('-');

            }
        });

        $('#modalsetup').on('shown.bs.modal', e => {
            if (isetup.form['_PROCESS'].value === 'CREATE') {
                itablelookupregistrasi.openmodal();
            }

        });

        $(isetup.form['SectionAsal']).select2();
        $(isetup.form['Dokter']).select2();
        

        isetup.dokteronchange = () => {
            isetup.form['Spesialis'].value = $(isetup.form['Dokter']).find('option:selected').data('spesialis');
            isetup.form['DokterNama'].value = $(isetup.form['Dokter']).find('option:selected').data('nama');
        };

        isetup.cleave_detail_harga = [];
        isetup.cleave_BiayaRacik = new Cleave(isetup.form['BiayaRacik'], {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand'
        });
        isetup.cleave_KelebihanPlafon = new Cleave(isetup.form['KelebihanPlafon'], {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand'
        });

        isetup.customeremovedetail = (t, id) => {
            removedetail(t);
            isetup.cleave_detail_harga = isetup.cleave_detail_harga.filter(x => x.id !== id);
            isetup.hitungtotal();
        };

        isetup.openmmodaleresep = id => {
            if (isetup.form['_PROCESS'].value !== 'VIEW')
                $('#modaleresep form input[type="checkbox"]').removeAttr('disabled');
            else
                $('#modaleresep form input[type="checkbox"]').attr('disabled', 'disabled');

            const f = $('#modaleresep form')[0];
            const m = isetup.cleave_detail_harga.find(x => x.id == id);
            f['eresepid'].value = m.id;
            f['eresep1'].checked = m.eresep1;
            f['eresep2'].checked = m.eresep2;
            f['eresep3'].checked = m.eresep3;
            f['eresep4'].checked = m.eresep4;
            f['eresep5'].checked = m.eresep5;
            f['eresep6'].checked = m.eresep6;
            f['eresep7'].checked = m.eresep7;
            f['eresep8'].checked = m.eresep8;
            f['eresep9'].checked = m.eresep9;
            f['eresep10'].checked = m.eresep10;
            f['eresep11'].checked = m.eresep11;
            f['eresep12'].checked = m.eresep12;
            $('#modaleresep').modal();
            $('.modal-backdrop:last').css('z-index', $('#modallookupbarang').css('z-index') - 1);
        };

        isetup.printetiket = id => {
            const kdbrgprnt = isetup.cleave_detail_harga.find(x => x.id == id);
            if (kdbrgprnt == undefined) {
                var kdbrgprntnull = '-';
                window.open('@Url.Action("ExportPDF", "Report")?category=Transaksi&filename=eTiketObatFarmasi.rpt&param=[{\'Name\':\'@@NoBukti\',\'ParameterType\':4,\'Value\':\'' + isetup.form['NoBukti'].value + '\'},{\'Name\':\'@@KodeBarang\',\'ParameterType\':4,\'Value\':\'' + kdbrgprntnull + '\'}]');
            } else {
                window.open('@Url.Action("ExportPDF", "Report")?category=Transaksi&filename=eTiketObatFarmasi.rpt&param=[{\'Name\':\'@@NoBukti\',\'ParameterType\':4,\'Value\':\'' + isetup.form['NoBukti'].value + '\'},{\'Name\':\'@@KodeBarang\',\'ParameterType\':4,\'Value\':\'' + kdbrgprnt.kodebarang + '\'}]');
            }
        };

        isetup.modalereseponsubmit = e => {
            e.preventDefault();
            const f = $('#modaleresep form')[0];
            const m = isetup.cleave_detail_harga.find(x => x.id == f['eresepid'].value);
            m.eresep1 = f['eresep1'].checked;
            m.eresep2 = f['eresep2'].checked;
            m.eresep3 = f['eresep3'].checked;
            m.eresep4 = f['eresep4'].checked;
            m.eresep5 = f['eresep5'].checked;
            m.eresep6 = f['eresep6'].checked;
            m.eresep7 = f['eresep7'].checked;
            m.eresep8 = f['eresep8'].checked;
            m.eresep9 = f['eresep9'].checked;
            m.eresep10 = f['eresep10'].checked;
            m.eresep11 = f['eresep11'].checked;
            m.eresep12 = f['eresep12'].checked;
            $('#modaleresep').modal('hide');
        };

        isetup.adddetailbody = (id, kode, nama, satuan, aturan1, aturan2, tgled, resep, obat, stok, harga, lockstock, disc, racikan, hidedelete, fromlookupbarang,
            eresep1,
            eresep2,
            eresep3,
            eresep4,
            eresep5,
            eresep6,
            eresep7,
            eresep8,
            eresep9,
            eresep10,
            eresep11,
            eresep12
        ) => {
            const has = $(isetup.form).find('.input-detail tbody tr[data-id="' + id + '"]');
            if (has.length) {
                has.find('.Qty').val((parseFloat(has.find('.Qty').val()) || 0) + obat);
                return;
            }
            var kdbrgprint = kode;
            const _jum = obat * harga;
            const _disc = _jum / 100 * disc;
            const jumlah = _jum - _disc;

            var _detail = '';
            _detail += '<tr data-id="' + id + '" class="' + (hidedelete ? 'lockdelete' : '') + ' ' + (fromlookupbarang ? 'fromlookupbarang' : '') + '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a tabindex="-1" href="#" onclick="isetup.customeremovedetail(this, ' + id + ');" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';
            _detail += '<td class="text-center">';
            _detail += '<a type="button" class="text-primary" value="' + kdbrgprint + '" onclick="isetup.printetiket(' + id + ');"><i class="icon-printer"></i></a>';
            _detail += '</td>';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a tabindex="-1" href="#" onclick="isetup.openmmodaleresep(' + id + ');" class="text-primary"><i class="icon-file-text2"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            _detail += '<td><select onchange="isetup.aturan1(this)" class="Aturan1Select form-control view-hide">@(Html.Raw(HList.InventoryAturanPakai1))</select><input type="text" class="form-control' + (isetup.form['_PROCESS'].value === 'VIEW' ? ' ' : ' hide ' ) + 'AturanPakai1" value="' + (aturan1 || '') + '" /></td>';
            _detail += '<td><select onchange="isetup.aturan2(this)" class="Aturan2Select form-control view-hide">@(Html.Raw(HList.InventoryAturanPakai2))</select><input type="text" class="form-control' + (isetup.form['_PROCESS'].value === 'VIEW' ? ' ' : ' hide ' ) + 'AturanPakai2" value="' + (aturan2 || '') + '" /></td>';
            _detail += '<td><input type="date" class="form-control TanggalED" value="' + tgled + '" /></td>';
            _detail += '<td class="td-text text-center">' + (resep || 0) + '</td>';
            _detail += '<td><input type="number" onchange="isetup.cekqty(this)" class="form-control text-right Qty" step="any" min="0" value="' + obat + '" /></td>';
            _detail += '<td class="text-center"><input type="text" class=" all-readonly hidden Stok" step="any" min="0" value="' + getcurrencyfromfloat(stok) + '" />' + getcurrencyfromfloat(stok) + '</td>';
            _detail += '<td class="td-text text-right"><input type="text" onchange="isetup.hitungjumlah(this)" class="hidden form-control text-right Harga" step="any" min="0" value="' + harga + '" />' + harga + '</td>';
            _detail += '<td class="text-center hidden"><input type="text" class=" all-readonly hidden LockStock" step="any" min="0" value="' + lockstock + '" />' + lockstock + '</td>';
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-right Disc" step="any" min="0" max="100" value="' + disc + '" /></td>';
            _detail += '<td class="td-text text-right Jumlah">' + (getcurrencyfromfloat(jumlah) || 0) + '</td>';
            _detail += '<td><select class="Racik form-control">@(Html.Raw(HList.FarmasiResepRacikan))</select></td>';


            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);

            const _inputharga = $(isetup.form).find('tbody tr:last-child .Harga').last();
            const _inputcarikan = $(isetup.form).find('tbody tr:last-child .Racik').last();
            _inputcarikan[0].value = racikan || 'None';
            isetup.cleave_detail_harga.push({
                id: id,
                clave: new Cleave(_inputharga, {
                    numeral: true,
                    numeralThousandsGroupStyle: 'thousand'
                }),
                eresep1: eresep1 || false,
                eresep2: eresep2 || false,
                eresep3: eresep3 || false,
                eresep4: eresep4 || false,
                eresep5: eresep5 || false,
                eresep6: eresep6 || false,
                eresep7: eresep7 || false,
                eresep8: eresep8 || false,
                eresep9: eresep9 || false,
                eresep10: eresep10 || false,
                eresep11: eresep11 || false,
                eresep12: eresep12 || false,
                kodebarang: kode || '',
            });
            isetup.hitungtotal();
        }

        isetup.cekqty = (t) => {
            const ttr = $(t).closest('tr');
            const cekstok = parseFloat(ttr.find('.Stok').val());
            const cekqty = parseFloat(ttr.find('.Qty').val());
            const lockstok = parseFloat(ttr.find('.LockStock').val());
            if (cekqty > cekstok && lockstok == true) {
                alerterror('Jml Obat tidak boleh besar dari Stok');
                ttr.find('.Qty').val(0);
            }
            isetup.hitungjumlah(t);
        }

        isetup.aturan1 = (t) => {
            if (isetup.form['_PROCESS'].value === 'CREATE') {
                const traturan1 = $(t).closest('tr');
                var nilaiaturan1 = traturan1.find('.Aturan1Select').val();
                if (nilaiaturan1 == '1 x SEHARI 1 TAB' || nilaiaturan1 == '2 x SEHARI 1 TAB' || nilaiaturan1 == '3 x SEHARI 1 TAB' ||
                    nilaiaturan1 == '1 x SEHARI 1/2 TAB' || nilaiaturan1 == '2 x SEHARI 1/2 TAB' || nilaiaturan1 == '3 x SEHARI 1/2 TAB' ||
                    nilaiaturan1 == '1 x 1/2 SENDOK TEH' || nilaiaturan1 == '' || nilaiaturan1 == undefined) {
                    traturan1.find('.AturanPakai1').val(nilaiaturan1);
                    traturan1.find('.AturanPakai1').addClass('hide');
                } else if (nilaiaturan1 == 'Lainnya') {
                    traturan1.find('.AturanPakai1').val('-');
                    traturan1.find('.AturanPakai1').removeClass('hide');
                }
            }
        }

        isetup.aturan2 = (t) => {
            if (isetup.form['_PROCESS'].value === 'CREATE') {
                const traturan2 = $(t).closest('tr');
                var nilaiaturan2 = traturan2.find('.Aturan2Select').val();
                if (nilaiaturan2 == 'SESUDAH MAKAN' || nilaiaturan2 == 'SEBELUM MAKAN' || nilaiaturan2 == 'SAMPAI HABIS' ||
                    nilaiaturan2 == 'PADA SUAPAN PERTAMA' || nilaiaturan2 == '' || nilaiaturan2 == undefined) {
                    traturan2.find('.AturanPakai2').val(nilaiaturan2);
                    traturan2.find('.AturanPakai2').addClass('hide');
                } else if (nilaiaturan2 == 'Lainnya' ) {
                    traturan2.find('.AturanPakai2').val('-');
                    traturan2.find('.AturanPakai2').removeClass('hide');
                }
            }
        }

        isetup.hitungjumlah = (t) => {
            const tr = $(t).closest('tr');
            const id = parseInt($(tr).data('id'));
            //const stok = parseFloat(tr.find('.Stok').val());
            const qty = parseFloat(tr.find('.Qty').val());
            const disc = parseFloat(tr.find('.Disc').val());
            const harga = parseFloat(isetup.cleave_detail_harga.find(x => x.id === id).clave.getRawValue());

            const _jum = harga * qty;
            const _dis = _jum / 100 * disc;
            const jumlah = _jum - _dis;

            tr.find('.Jumlah').html(getcurrencyfromfloat(jumlah) || 0);
            isetup.hitungtotal();

        }

        isetup.hitungtotal = () => {
            let subtotal = 0;
            $.map($(isetup.form).find('.input-detail tbody tr'), v => {
                const nilai = getfloatfromcurrency($(v).find('.Jumlah').html());
                subtotal += nilai;
            });
            subtotal = parseFloat(subtotal);
            const biayaracik = parseFloat(isetup.cleave_BiayaRacik.getRawValue()) || 0;
            const grandtotal = subtotal + biayaracik;
            isetup.form['SubTotal'].value = getcurrencyfromfloat(subtotal) || 0;
            isetup.form['GrandTotal'].value = getcurrencyfromfloat(grandtotal) || 0;
        }

        $('#modaleresep').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });


    });

    const isetupprintresep = (t, e) => {
        e.preventDefault();
        window.open('@Url.Action("ExportPDF", "Report")?category=Transaksi&filename=Rpt_NotaFarmasi.rpt&param=[{\'Name\':\'@@NoBukti\',\'ParameterType\':4,\'Value\':\'' + isetup.form['NoBukti'].value + '\'}]');
        $('#modalreport').modal('hide');
    }

    function checkedpaket() {
        if ($("input[name=PaketObat]").is(':checked')) {

            $('#paketobat').removeClass('disabled');
        }
        else {
            $('#paketobat').addClass('disabled');
            $('#paketobat').val('');
        }
    }

    function isetuptambah() {
        $('#modalsetup').on('hidden.bs.modal', e => {
            $(e.currentTarget).unbind();

            isetup.opensetup('CREATE');
            isetup.init();
            itablelookupregistrasi.openmodal();
            $('#modalsetup').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
        });

        $('#modalsetup').modal('hide');
        $('#modalsetup').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    }

    $(document).keydown(function (e) {
        if ($('#modalsetup').css('display') != 'block') return;

        // modallookupregistrasi
        if ($('#modallookupregistrasi').css('display') === 'block') {

            const filter = $('#modallookupregistrasi #filterbilling');
            const trActive = $('#modallookupregistrasi tbody tr.active');

            if (e.keyCode === 40) {
                filter.blur();
                if (trActive.length) {
                    const next = trActive.next();
                    trActive.removeClass('active');
                    if (next.length) {
                        next.addClass('active');
                    } else {
                        filter.focus();
                    }
                } else {
                    $('#modallookupregistrasi tbody tr:nth-child(1)').addClass('active');
                }
            }
            else if (e.keyCode === 38) {
                if ($('#modallookupregistrasi').css('display') === 'block') {
                    if (trActive.length) {
                        const prev = trActive.prev();
                        trActive.removeClass('active');
                        if (prev.length) {
                            prev.addClass('active');
                        } else {
                            filter.focus();
                        }
                    }
                }
            }
            else if (e.keyCode === 32 && trActive.length) {
                $('#modallookupregistrasi tbody tr.bg-primary').removeClass('bg-primary');
                trActive.addClass('bg-primary');
            }
            else if (e.keyCode === 13 && $('#modallookupregistrasi tbody tr.bg-primary').length) {
                $('#modallookupregistrasi button[onclick="itablelookupregistrasi.selected(this)"]').click();
            }

            return;
        }

        // modallookupbarang
        if ($('#modallookupbarang').css('display') === 'block') {

            const filter = $('#modallookupbarang #fltrbarangmodal');
            const trActive = $('#modallookupbarang tbody tr.active');

            if (e.keyCode === 40) {
                filter.blur();
                if (trActive.length) {
                    const next = trActive.next();
                    trActive.removeClass('active');
                    if (next.length) {
                        next.addClass('active');
                    } else {
                        filter.focus();
                    }
                } else {
                    $('#modallookupbarang tbody tr:nth-child(1)').addClass('active');
                }
            } else if (e.keyCode === 38) {
                if ($('#modallookupbarang').css('display') === 'block') {
                    if (trActive.length) {
                        const prev = trActive.prev();
                        trActive.removeClass('active');
                        if (prev.length) {
                            prev.addClass('active');
                        } else {
                            filter.focus();
                        }
                    }
                }
            } else if (e.keyCode === 32 && trActive.length) {
                if (trActive.hasClass('bg-primary')) {
                    trActive.removeClass('bg-primary');
                } else {
                    trActive.addClass('bg-primary');
                }
            } else if (e.keyCode === 13 && $('#modallookupbarang tbody tr.bg-primary').length) {
                $('#modallookupbarang button[onclick="itablelookupbarang.selected(this)"]').click();
            }

            return;
        }

        if (e.keyCode === 113) {
            $('#lookupbaranghide').click();
            return;
        }

        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });

</script>

