﻿@{
    ViewBag.Title = "Resep";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@using Inventory.Helper
@using Microsoft.AspNet.Identity

<style>
    .itable-status.bg-grey-300 a:hover {
        background-color: #999;
    }

    .itable-status.bg-primary-300 a:hover {
        background-color: #64b5f6;
    }

    .itable-status.bg-warning-300 a:hover {
        background-color: #ff8a65;
    }

    #formtable table td,
    #formtable table th {
        white-space: nowrap;
    }
</style>

<form id="formtable">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="panel-title"></div>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a class="panel-action action-filter" href="javascript:itable.openfilter()"></a></li>
                    <li><a class="panel-action action-help" href="javascript:itable.oprnmodalhelp()"></a></li>
                </ul>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header">
                <input type="hidden" data-itable-filter="Status" value="All" />
                <input type="hidden" data-itable-filter="All" value="" />
                <input type="hidden" data-itable-filter="PeriodeStart" value="@(ConfigModel.Develop ? "" : DateTime.Today.ToString("yyyy-MM-dd"))">
                <input type="hidden" data-itable-filter="PeriodeEnd" value="@(ConfigModel.Develop ? "" : DateTime.Today.ToString("yyyy-MM-dd"))">
                <select class="form-control itable-pagesize hide" style="width: auto;">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <ul class="nav nav-pills nav-pills-toolbar nav-justified" style="margin-bottom:0;">
                <li class="itable-status bg-grey-300"><a onclick="itable.changestatus('All', this)">All</a></li>
                <li class="itable-status"><a onclick="itable.changestatus('Open', this)">Open</a></li>
                <li class="itable-status"><a onclick="itable.changestatus('Close', this)">Close</a></li>
            </ul>
            <div class="datatable-scroll table-responsive">
                <table class="table datatable-basic dataTable no-footer table-xxs">
                    <thead>
                        <tr>
                            <th style="width: 10px;"></th>
                            <th class="sorting" data-itable-sorting="NoResep" style="width: 180px;">No Resep<i></i></th>
                            <th class="sorting" data-itable-sorting="Tanggal" style="width: 100px;">Tanggal<i></i></th>
                            <th class="sorting" data-itable-sorting="NoRegistrasi" style="width: 180px;">No Registrasi<i></i></th>
                            <th class="sorting" data-itable-sorting="SectionAsal" style="width: 180px;">Section<i></i></th>
                            <th class="sorting" data-itable-sorting="NamaPasien">Nama<i></i></th>
                            <th class="sorting text-center" data-itable-sorting="Gender" style="width: 180px;">Gender<i></i></th>
                            <th class="sorting" data-itable-sorting="DokterID">Dokter<i></i></th>
                            <th class="sorting text-center" data-itable-sorting="NRM" style="width: 180px;">NRM<i></i></th>
                            <th class="sorting text-center" data-itable-sorting="JenisPasien" style="width: 180px;">Jenis Pasien<i></i></th>
                            <th class="sorting text-center" data-itable-sorting="Perusahaan">Perusahaan<i></i></th>
                            <th class="text-center sorting_disabled" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<div id="modalfilter" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form autocomplete="off" onsubmit="itable.filtersubmit(this,event)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Filter</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Filter</label>
                            <div class="col-md-8">
                                <input type="text" name="all" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Periode</label>
                            <div class="col-md-8">
                                <input type="date" name="periode" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Sampai</label>
                            <div class="col-md-8">
                                <input type="date" name="sampai" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Show</label>
                            <div class="col-md-8">
                                <select class="form-control" style="width: auto;" name="show">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="icon icon-check"></i> OK</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalhelp" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Info</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="text-center alpha-grey">BELUM REALISASI</td>
                                <td class="text-center alpha-success">SUDAH REALISASI</td>
                                <td class="text-center alpha-danger">CITO</td>
                            </tr>
                            <tr>
                                <td class="text-center alpha-grey"><i style="font-size: 40px;" class="icon-stack-minus text-grey"></i></td>
                                <td class="text-center alpha-success"><i style="font-size: 40px;" class="icon-stack-check text-success"></i></td>
                                <td class="text-center alpha-danger"><i style="font-size: 40px;" class="icon-warning text-danger"></i></td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'NoResep',
            orderbytype: false,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += '<tr><td colspan="12" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>';
                    $.each(r.Data, function (index, value) {
                        let status = '';
                        let icon = '';
                        if (value.Realisasi) {
                            status = 'success';
                            icon = '<i class="icon-stack-check text-success"></i>';
                        } else if (value.Cito) {
                            status = 'danger';
                            icon = '<i class="icon-stack-warning text-danger"></i>';
                        } else {
                            status = 'grey';
                            icon = '<i class="icon-stack-minus text-grey"></i>';
                        }

                        if ($('#formtable [data-itable-filter="Status"]').val() === 'All') {
                            tbody += '<tr class="alpha-' + status + '">';
                        } else
                            tbody += '<tr>';

                        // column
                        tbody += '<td class="text-center">' + icon + '</td>';
                        tbody += '<td>' + value.NoResep + '</td>';
                        tbody += '<td class="text-center">' + value.Tanggal + '</td>';
                        tbody += '<td>' + value.NoRegistrasi + '</td>';
                        tbody += '<td>' + value.Section + '</td>';
                        tbody += '<td>' + value.Nama + '</td>';
                        tbody += '<td class="text-center">' + value.Gender + '</td>';
                        tbody += '<td>' + (value.IdDokter ? (value.IdDokter + ' - ' + value.NamaDokter) : '-') + '</td>';
                        tbody += '<td class="text-center">' + value.NRM + '</td>';
                        tbody += '<td class="text-center">' + value.JenisPasien + '</td>';
                        tbody += '<td>' + (value.Perusahaa || '-') + '</td>';

                        tbody += '<td class="text-center">';
                        tbody += '<ul class="icons-list">';
                        tbody += '<li class="dropdown">';
                        tbody += '<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<ul class="dropdown-menu dropdown-menu-right">';

                        // action
                        if (!value.Realisasi) {
                            tbody += '<li><a href="javascript:isetup.opensetup(\'CREATE\',{ id : \'' + value.NoResep+ '\'})"><i class="icon-cart5"></i> Billing</a></li>';
                        } else {
                            tbody += '<li><a href="javascript:isetup.opensetup(\'VIEW\', { id : \'' + value.NoBukti + '\'})"><i class="icon-eye"></i> View</a></li>';
                        }

                        tbody += '</ul>';
                        tbody += '</li>';
                        tbody += '</ul>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    if (r.Data.length > 0)
                        tbody += '<tr style="height: 50px;"><td colspan="12"></td></tr>';
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itable.refresh();

        itable.openfilter = function () {
            var f = $('#modalfilter form')[0];
            f['periode'].value = $('#formtable [data-itable-filter="PeriodeStart"]')[0].value;
            f['sampai'].value = $('#formtable [data-itable-filter="PeriodeEnd"]')[0].value;
            f['all'].value = $('#formtable [data-itable-filter="All"]')[0].value;
            f['show'].value = $('#formtable .itable-pagesize')[0].value;
            $('#modalfilter').modal();
        }

        itable.filtersubmit = function (t, e) {
            e.preventDefault();
            var f = $('#modalfilter form')[0];
            $('#formtable [data-itable-filter="PeriodeStart"]')[0].value = f['periode'].value;
            $('#formtable [data-itable-filter="PeriodeEnd"]')[0].value = f['sampai'].value;
            $('#formtable [data-itable-filter="All"]')[0].value = f['all'].value;
            $('#formtable .itable-pagesize')[0].value = f['show'].value;
            itable.pageindex = 0;
            itable.refresh();
            $('#modalfilter').modal('hide');
        }

        itable.changestatus = (status, t) => {
            $('#formtable .itable-status').removeClass('bg-grey-300');
            $('#formtable .itable-status').removeClass('bg-primary-300');
            $('#formtable .itable-status').removeClass('bg-warning-300');
            if (status === 'All') {
                $(t).closest('li').addClass('bg-grey-300');
            } else if (status === 'Open') {
                $(t).closest('li').addClass('bg-primary-300');
            } else {
                $(t).closest('li').addClass('bg-warning-300');
            }
            if (status === 'Open') {
                $('#formtable [data-itable-filter="PeriodeStart"]')[0].value = '';
                $('#formtable [data-itable-filter="PeriodeEnd"]')[0].value = '';
            } else {
                $('#formtable [data-itable-filter="PeriodeStart"]')[0].value = '@(ConfigModel.Develop ? "" : DateTime.Today.ToString("yyyy-MM-dd"))';
                $('#formtable [data-itable-filter="PeriodeEnd"]')[0].value = '@(ConfigModel.Develop ? "" : DateTime.Today.ToString("yyyy-MM-dd"))';
            }
            if (status === 'All')
                $(itable.table).find('table').removeClass('table-striped');
            else
                $(itable.table).find('table').addClass('table-striped');
            $('#formtable [data-itable-filter="Status"]').val(status);
            itable.pageindex = 0;
            itable.refresh();
        };

        itable.oprnmodalhelp = () => {
            $('#modalhelp').modal();
        }
    });
</script>
@Html.Partial("Setup")
@Html.Partial("_LookUpBarang")
@Html.Partial("_LookUpPaket")