﻿@using Inventory.Helper

<style>
    #modalsetup .input-detail td{
        white-space: nowrap;
    }

    .bg-select {
        background-color: #c4d1fd !important;
        color: #000;
        font-weight: bold;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mutasi</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Bukti</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoBukti" class="form-control all-disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tanggal</label>
                                    <div class="col-md-9">
                                        <input type="date" required name="Tanggal" class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Mutasi Dari</label>
                                    <div class="col-md-9">
                                        <select name="MutasiDari" required class="all-disabled">@Html.Raw(HList.AmprahanKepadaInsert)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Keterangan</label>
                                    <div class="col-md-9">
                                        <textarea name="Keterangan" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                @*<fieldset class="content-group">
                                    <legend class="text-bold">Amprahan</legend>*@
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No Amprahan</label>
                                        <div class="col-md-9">
                                            <input type="text" name="NoAmprahan" class="form-control all-disabled" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Tanggal</label>
                                        <div class="col-md-9">
                                            <input type="date" name="TanggalAmprahan" class="form-control all-disabled" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Section</label>
                                        <div class="col-md-9">
                                            <input type="text" name="SectionAmprahan" class="form-control all-disabled" />
                                        </div>
                                    </div>
                                @*</fieldset>*@
                               
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail table-striped table-lookup">
                                        <thead>
                                            <tr>
                                                <td style="width:100px;">No</td>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                                <td>Satuan</td>
                                                <td>Kategori</td>
                                                <td class="text-center">Konversi</td>
                                                <td class="text-center">Qty Stok</td>
                                                <td class="text-center">QtyTlhMutasi</td>
                                                <td class="text-center">Qty Amprah</td>
                                                <td class="text-center">Qty </td>
                                                <td class="text-right">Harga</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['NoBukti'].value = r.Data.NoBukti;
                    t['Tanggal'].value = r.Data.Tanggal;
                    t['MutasiDari'].value = r.Data.MutasiDari;
                    t['NoAmprahan'].value = r.Data.NoAmprahan;
                    t['TanggalAmprahan'].value = r.Data.TanggalAmprahan;
                    t['SectionAmprahan'].value = r.Data.SectionAmprahan;
                    t['Keterangan'].value = r.Data.Keterangan;

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Kode,
                            value.Deskripsi,
                            value.Satuan,
                            value.Kategori,
                            value.Konversi,
                            value.Stok,
                            value.Amprahan,
                            value.Qty,
                            value.Harga
                        );
                    });
                    $('.nomormutasi').blur();
                    isetup.init();

                    if (t['_PROCESS'].value === 'EDIT') {
                        $(t['Tanggal']).attr('readonly', 'readonly');
                        $(t['DariSection']).attr('disabled', 'disabled');
                        $(t['Kepada']).attr('disabled', 'disabled');
                    }
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                //$.map($(t).find('.input-detail tbody tr'), function (value) {
                //    var qtystok = $(value).find('.QtyStok').val();
                //    var qty = $(value).find('.Qty').val();
                //    var lockstok = $(value).find('.LockStock').val();

                //    if (qty > qtystok && lockstok == 1)
                //    {
                //        alerterror('Qty Stok Tidak Mencukupi');
                //        return false;
                //    }
                //})
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        Tanggal: t['Tanggal'].value,
                        MutasiDari: $(t['MutasiDari']).find('option:selected').data('lokasi'),
                        NoAmprahan: t['NoAmprahan'].value,
                        Keterangan: t['Keterangan'].value,
                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id : $(value).data('id'),
                                Qty : getfloatfromcurrency($(value).find('.Qty').val()) || 0,
                                QtyStok: getfloatfromcurrency($(value).find('.QtyStok').val()) || 0,
                                Lock : $(value).find('.LockStock').val(),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                $.ajax({
                    url: '@Url.Action("DetailAmprahan")',
                    type: 'POST',
                    data: param,
                    success: function (r) {
                        r = JSON.parse(r);
                        if (r.IsSuccess) {
                            isetup.init();
                            $(isetup.form).find('.input-detail tbody').html('');

                            //isetup.form['Tanggal'].value = formatdate(new Date());
                            isetup.form['MutasiDari'].value = '@Request.Cookies["Inventory_Section_Id"].Value';
                            isetup.form['NoAmprahan'].value = r.Data.NoBukti;
                            isetup.form['TanggalAmprahan'].value = r.Data.Tanggal;
                            isetup.form['SectionAmprahan'].value = r.Data.DariSectionNama;
                            isetup.form['Keterangan'].value = r.Data.Keterangan;
                            $(isetup.form['MutasiDari']).trigger('change');

                            $(t).find('.input-detail tbody').html('');
                            $.each(r.Detail, function (index, value) {
                                isetup.adddetailbody(
                                    value.Id,
                                    value.Kode,
                                    value.Deskripsi,
                                    value.Satuan,
                                    value.Kategori,
                                    value.Konversi,
                                    value.QtyStok,
                                    value.QtyAmprah,
                                    value.QtyTlhMutasi,
                                    value.Harga,
                                    value.LockStock,
                                );
                            });
                            $('.nomormutasi').blur();
                        } else {
                            alerterror(r.Message);
                            isetup.modal.modal('hide');
                        }
                    },
                    error: function (xhr) { alerterror(xhr); isetup.modal.modal('hide'); },
                    beforeSend: function () { loading(true); },
                    complete: function () { loading(false); }
                });
            }
        });

        $(isetup.form['MutasiDari']).select2();

        isetup.detailactive = function (t) {
            if ($(t).hasClass('bg-select')) {
            } else {
                $(t).closest('tbody').find('.bg-select').removeClass('bg-select');
                $(t).addClass('bg-select');
            }
        }

        isetup.adddetailbody = (id, kode, nama, satuan, kategori, konversi, qtystok, qtyamprah, qtytlhmutasi, harga, lockstock) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + id + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }
            var t = isetup.form;
            var _detail = '';
            _detail += '<tr data-id="' + id + '" class="odd" onclick="isetup.detailactive(this)">';

            var qtyttl = qtytlhmutasi;
            if (t['_PROCESS'].value != 'VIEW') {
                qtyttl = qtyamprah - qtytlhmutasi;
            }
            // input
            //namaakun
            _detail += '<td class="td-text" style="max-width:70px"><input class="nomormutasi" readonly onblur="autoid_detail(this)"></td>';
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            _detail += '<td class="td-text">' + kategori + '</td>';
            _detail += '<td class="td-text text-center">' + konversi + '</td>';
            _detail += '<td class="text-center"><input type="text" class=" all-readonly hidden QtyStok" step="any" min="0" value="' + (getcurrencyfromfloat(qtystok) || 0) + '" />' + (getcurrencyfromfloat(qtystok) || 0) + '</td>';
            //_detail += '<td class="td-text text-center QtyStok" value="' + getcurrencyfromfloat(qtystok) +'">' + getcurrencyfromfloat(qtystok) + '</td>';
            //_detail += '<td class="td-text text-center">' + qtytlhmutasi + '</td>';
            //_detail += '<td class="td-text text-center">' + qty + '</td>';


            if (t['_PROCESS'].value === 'VIEW') {
                _detail += '<td class="text-center all-readonly"><input type="text" onchange="mutasi(this)" class="all-readonly hidden  Qtymutasi" step="any" min="0" value="' + qtyamprah + '" />' + qtyamprah + '</td>';
                _detail += '<td class="text-center"><input type="text" class=" all-readonly hidden QtyAmprah" step="any" min="0" value="' + qtyamprah + '" />' + qtyamprah + '</td>';
                _detail += '<td class="text-center"><input type="number" class="text-center Qty" step="any" min="0" value="' + qtyttl + '" /></td>';
            } else {
                _detail += '<td class="text-center all-readonly"><input type="text" onchange="mutasi(this)" class="all-readonly hidden  Qtymutasi" step="any" min="0" value="' + qtytlhmutasi + '" />' + qtytlhmutasi + '</td>';
                _detail += '<td class="text-center"><input type="text" class=" all-readonly hidden QtyAmprah" step="any" min="0" value="' + qtyamprah + '" />' + qtyamprah + '</td>';
                _detail += '<td class="text-center"><input type="number" onchange="mutasi(this)" class="text-center Qty" step="any" min="0" value="' + qtyttl + '" /></td>';
            }
            _detail += '<td  class="td-text text-right">' + getcurrencyfromfloat(harga) + '</td>';
            _detail += '<td class="text-center hidden"><input type="text" class=" all-readonly hidden LockStock" step="any" min="0" value="' + lockstock + '" />' + lockstock + '</td>';


            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);
        };


    });

   function  mutasi(t) {
        const tr = $(t).closest('tr');
       const qtystok = parseFloat(tr.find('.QtyStok').val());
       const lockstok = parseFloat(tr.find('.LockStock').val());
       const qtytt = parseFloat(tr.find('.QtyAmprah').val());
       const qty = parseFloat(tr.find('.Qty').val());
       const qtymutasi = parseFloat(tr.find('.Qtymutasi').val());
       var hasil = qtytt - qtymutasi;
       if (qty > hasil) {
            alerterror('Qty tidak boleh besar dari Qty Mutasi');
           tr.find('.Qty').val(hasil);
       }

       else if (qty > qtystok && lockstok == 1) {
           alerterror('Qty Stok Tidak Mencukupi');
           tr.find('.Qty').val(hasil);
       }
    }
</script>
<script>
    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) {
            _this.value = 1
        }
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(1) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
    }
</script>