﻿@using Inventory.Helper

<style>
    #modalsetup .input-detail td {
        white-space: nowrap;
    }

    #nomerdetail {
        width: 30px;
    }

    .bg-select {
        background-color: #c4d1fd !important;
        color: #000;
        font-weight: bold;
    }

    tr.active td {
        background-color: #a1a1a1 !important;
    }

</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Amprahan</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Bukti</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoBukti" class="form-control all-disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tanggal</label>
                                    <div class="col-md-9">
                                        <input type="date" required name="Tanggal" class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Dari Section</label>
                                    <div class="col-md-9">
                                        <select name="DariSection" required>@Html.Raw(HList.AmprahanDari)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kepada</label>
                                    <div class="col-md-9">
                                        <select name="Kepada" required onchange="isetup.kepadaonchange()">@Html.Raw(HList.AmprahanKepada)</select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Keterangan</label>
                                    <div class="col-md-9">
                                        <textarea name="Keterangan" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail table-striped table-lookup">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a id="lookupamprah" onclick="itablelookupbarang.openmodal()"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td style="width:100px;">No</td>
                                                <td style="width:100px;">
                                                    Kode
                                                </td>
                                                <td>Deskripsi</td>
                                                <td style="width:50px;">Konversi</td>
                                                <td style="width:100px;">Satuan</td>
                                                <td style="width:100px;">Qty Asal</td>
                                                <td style="width:100px;">Qty</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['NoBukti'].value = r.Data.NoBukti;
                    t['Tanggal'].value = r.Data.Tanggal;
                    t['DariSection'].value = r.Data.DariSection;
                    t['Kepada'].value = r.Data.Kepada;
                    t['Keterangan'].value = r.Data.Keterangan;

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Kode,
                            value.Deskripsi,
                            value.Konversi,
                            value.Satuan,
                            value.QtyStok,
                            value.Qty,
                        );
                    });
                    $('.nomoramprahan').blur();
                    isetup.init();
                    if (t['_PROCESS'].value === 'EDIT') {
                        $(t['Tanggal']).attr('readonly', 'readonly');
                        $(t['DariSection']).attr('disabled', 'disabled');
                        $(t['Kepada']).attr('disabled', 'disabled');
                    }
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {
                        // param
                        NoBukti: t['NoBukti'].value,
                        Tanggal: t['Tanggal'].value,
                        DariSection: t['DariSection'].value,
                        Kepada: t['Kepada'].value,
                        Keterangan: t['Keterangan'].value,
                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id : $(value).data('id'),
                                Qty : $(value).find('.Qty').val(),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                $('.nomoramprahan').blur();
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t) {
                //isetup.form['Tanggal'].value = formatdate(new Date());
                isetup.form['DariSection'].value = '@Request.Cookies["Inventory_Section_Id"].Value';
                isetup.form['Kepada'].value = '@Request.Cookies["Inventory_Section_Id"].Value';
                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');


            }
        });

        $(isetup.form['DariSection']).select2();
        $(isetup.form['Kepada']).select2();

        isetup.kepadaonchange = () => {
            var t = isetup.form;
            if (t['_PROCESS'].value === 'CREATE') {
                 $(isetup.form).find('.input-detail tbody').html('');
            }
        };

        isetup.detailactive = function (t) {
            if ($(t).hasClass('bg-select')) {
            } else {
                $(t).closest('tbody').find('.bg-select').removeClass('bg-select');
                $(t).addClass('bg-select');
            }
        }

        isetup.adddetailbody = (id, kode, nama, konversi, satuan, qtysectionasal, qty) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + id + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }

            var _detail = '';
            _detail += '<tr data-id="' + id + '" class="odd" onclick="isetup.detailactive(this)">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td class="td-text" style="max-width:70px"><input id="nomerdetail" class="nomoramprahan" readonly onblur="autoid_detail(this)"></td>';
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text text-center">' + konversi + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            _detail += '<td class="td-text">' + qtysectionasal + '</td>';
            _detail += '<td><input type="number" class="form-control text-right Qty" step="any" min="0" value="' + qty + '" /></td>';

            _detail += '</tr>';
            $(isetup.form).find('.input-detail tbody').append(_detail);
        };
    });

    $(document).keydown(function (e) {
        if ($('#modalsetup').css('display') != 'block') return;

        // modallookupbarang
        if ($('#modallookupbarang').css('display') === 'block') {

            const filter = $('#modallookupbarang #lkpbarangamprah');
            const trActive = $('#modallookupbarang tbody tr.active');

            if (e.keyCode === 40) {
                filter.blur();
                if (trActive.length) {
                    const next = trActive.next();
                    trActive.removeClass('active');
                    if (next.length) {
                        next.addClass('active');
                    } else {
                        filter.focus();
                    }
                } else {
                    $('#modallookupbarang tbody tr:nth-child(1)').addClass('active');
                }
            } else if (e.keyCode === 38) {
                if ($('#modallookupbarang').css('display') === 'block') {
                    if (trActive.length) {
                        const prev = trActive.prev();
                        trActive.removeClass('active');
                        if (prev.length) {
                            prev.addClass('active');
                        } else {
                            filter.focus();
                        }
                    }
                }
            } else if (e.keyCode === 32 && trActive.length) {
                if (trActive.hasClass('bg-primary')) {
                    trActive.removeClass('bg-primary');
                } else {
                    trActive.addClass('bg-primary');
                }
            } else if (e.keyCode === 13 && $('#modallookupbarang tbody tr.bg-primary').length) {
                $('#modallookupbarang button[onclick="itablelookupbarang.selected(this)"]').click();
            }

            return;
        }

        if (e.keyCode === 113) {
            $('#lookupamprah').click();
            return;
        }

        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });

    document.onkeydown = function (e) {
        if (e.keyCode == 40) {
            e.preventDefault();
            var inputs = $('#modalsetup .input-detail tbody tr.odd.bg-select');
            inputs.next().click();

            var form = e.target.form;
            var index = Array.prototype.indexOf.call(form, e.target);
            form.elements[index + 3].focus();
            e.preventDefault();
        }

        if (e.keyCode == 38) {
            e.preventDefault();
            var inputs = $('#modalsetup .input-detail tbody tr.odd.bg-select');
            inputs.prev().click();

            var form = e.target.form;
            var index = Array.prototype.indexOf.call(form, e.target);
            form.elements[index - 3].focus();
            e.preventDefault();
        }
    };
</script>
<script>
    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) {
            _this.value = 1
        }
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(2) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
    }
</script>