﻿@using Inventory.Helper
<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Obat Generik</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="Id" />
                        <div class="form-group">
                            <label class="col-md-2 control-label">Kode</label>
                            <div class="col-md-10">
                                <input type="text" name="Kode" class="form-control all-readonly" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Nama</label>
                            <div class="col-md-10">
                                <input type="text" name="Nama" class="form-control all-readonly" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a onclick="isetup.adddetailbody()"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td>Generik</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // detail value
                    t['Id'].value = r.Data.Id;
                    t['Kode'].value = r.Data.Kode;
                    t['Nama'].value = r.Data.Nama;

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id
                        );
                    });

                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {

                        // param
                        Id: t['Id'].value,

                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id: $(value).find('.Id').val(),
                            }
                        })

                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t) {
                isetup.init();
            }
        });

        isetup.adddetailbody = (id) => {
            var _detail = '';
            _detail += '<tr>';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td><select required class="form-control Id">@(Html.Raw(HList.SetupFarmasiObatGenerik))</select></td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);
            const _inputid = $(isetup.form).find('tbody tr:last-child .Id');
            $(_inputid).val(id);
            $(_inputid).select2();
        };
    });
</script>