﻿@using Inventory.Helper

<style>
    #modalsetup .input-detail td{
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pembelian Obat Luar</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Bukti</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoBukti" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tanggal</label>
                                    <div class="col-md-9">
                                        <input type="datetime-local" required name="Tanggal" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Section</label>
                                    <div class="col-md-9">
                                        <select name="Lokasi" required class="all-disabled">@Html.Raw(HList.PembelianObatLuarSection)</select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Vendor</label>
                                    <div class="col-md-9">
                                        <select name="Supplier" required>@Html.Raw(HList.PembelianObatVendor)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Pembayaran</label>
                                    <div class="col-md-9">
                                        <select name="TipePembayaran" required>@Html.Raw(HList.PembelianObatTipePembayaran)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Alasan</label>
                                    <div class="col-md-9">
                                        <select name="Alasan" required>@Html.Raw(HList.PembelianObatAlasan)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Dokter</label>
                                    <div class="col-md-9">
                                        <select name="Dokter">@Html.Raw(HList.PembelianObatDokter)</select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a onclick="itablelookupbarang.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                                <td>Satuan</td>
                                                <td style="width:70px;" class="text-center">Qty</td>
                                                <td style="width:100px;" class="text-right">Harga</td>
                                                <td style="width:100px;" class="text-right">Jumlah</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-md-offset-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="GrandTotal" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['NoBukti'].value = r.Data.No;
                    t['Tanggal'].value = r.Data.Tanggal + 'T' + r.Data.Jam;
                    t['Lokasi'].value = r.Data.Section;
                    t['Supplier'].value = r.Data.Vendor;
                    t['TipePembayaran'].value = r.Data.TipePembayaran;
                    t['Alasan'].value = r.Data.Alasan;
                    t['Dokter'].value = r.Data.Dokter;

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Kode,
                            value.Nama,
                            value.Satuan,
                            value.Qty,
                            value.Harga
                        );
                    });

                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        Tanggal: t['Tanggal'].value,
                        Section: t['Lokasi'].value,
                        Vendor: t['Supplier'].value,
                        TipePembayaran: t['TipePembayaran'].value,
                        Alasan: t['Alasan'].value,
                        Dokter: t['Dokter'].value,
                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id : $(value).data('id'),
                                Qty : $(value).find('.Qty').val(),
                                Satuan_ID: $(value).find('.Satuan').val(),
                                NamaBarang : $(value).find('.Nama').val(),
                                Harga: isetup.cleave_detail_harga.find(x => x.id === $(value).data('id')).clave.getRawValue(),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                let h = new Date().getHours();
                let m = new Date().getMinutes();
                h = h < 10 ? '0' + h : h;
                m = m < 10 ? '0' + m : m;
                const time = 'T' + h + ':' + m;
                isetup.form['Dokter'].value = '';
                isetup.form['Tanggal'].value = formatdate(new Date()) + time;
                isetup.form['Lokasi'].value = '@Request.Cookies["Inventory_Section_Id"].Value';
                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');
                isetup.cleave_detail_harga = [];
            }
        });

        $(isetup.form['Supplier']).select2();
        $(isetup.form['Lokasi']).select2();
        $(isetup.form['TipePembayaran']).select2();
        $(isetup.form['Alasan']).select2();
        $(isetup.form['Dokter']).select2({
            allowClear: true,
            placeholder: ""
        });
        isetup.cleave_detail_harga = [];

        isetup.customeremovedetail = (t, id) => {
            removedetail(t);
            isetup.cleave_detail_harga = isetup.cleave_detail_harga.filter(x => x.id !== id);
            isetup.hitungtotal();
        };

        isetup.adddetailbody = (id, kode, nama, satuan, qty, harga, lockharga, editobat,satuanid) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + id + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }

            const jumlah = harga * qty;

            var _detail = '';
            _detail += '<tr data-id="' + id + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="isetup.customeremovedetail(this, ' + id + ');" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input

            _detail += '<td class="td-text">' + kode + '</td>';
            if (isetup.form['_PROCESS'].value == 'VIEW') {
                _detail += '<td><input type="text" style="padding: 7px 20px;" class="form-control Nama" value="' + (nama || '') + '" /></td>';
                _detail += '<td class="td-text"><input type="text" class="hidden form-control" value="' + (satuanid || '') + '" />' + satuan + '</td>';
            } else {
                if (editobat == 1) {
                    _detail += '<td><input type="text" style="padding: 7px 20px;" class="form-control Nama" value="' + (nama || '') + '" /></td>';
                    _detail += `<td><select class="Satuan form-control">${isetup.satuanselect}</select></td>`;

                } else {
                    _detail += '<td class="td-text"><input type="text" class="hidden form-control Nama" value="' + (nama || '') + '" />' + nama + '</td>';
                    _detail += `<td><select class="Satuan form-control" disabled>${isetup.satuanselect}</select></td>`;
                }
            }
            _detail += '<td><input type="number" step="any" onchange="isetup.hitungjumlah(this)" class="form-control text-right Qty" step="any" min="0" value="' + qty + '" /></td>';
            _detail += '<td><input type="text" onchange="isetup.hitungjumlah(this)" class="form-control text-right Harga ' + (lockharga ? 'all-readonly' : '') + '" step="any" min="0" value="' + harga + '" /></td>';
            _detail += '<td class="td-text text-right Jumlah">' + (getcurrencyfromfloat(jumlah) || 0) + '</td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);
            $(isetup.form).find('.input-detail tbody tr:last .Satuan').val(satuanid);
            $(isetup.form).find('.input-detail tbody tr:last').find('.Satuan').select2();
            //$(isetup.form).find('.input-detail tbody tr:last').find('.Satuan').select2('readonly', true);

            const _inputharga = $(isetup.form).find('tbody tr:last-child .Harga').last();
            isetup.cleave_detail_harga.push({
                id: id,
                clave: new Cleave(_inputharga, {
                    numeral: true,
                    numeralThousandsGroupStyle: 'thousand'
                })
            });
            isetup.hitungtotal();
        };

        isetup.hitungjumlah = (t) => {
            const tr = $(t).closest('tr');
            const id = parseInt($(tr).data('id'));
            const qty = parseFloat(tr.find('.Qty').val());
            const harga = parseFloat(isetup.cleave_detail_harga.find(x => x.id === id).clave.getRawValue());
            const jumlah = harga * qty;
            tr.find('.Jumlah').html(getcurrencyfromfloat(jumlah) || 0);
            isetup.hitungtotal();
        }

        isetup.hitungtotal = () => {
            let subtotal = 0;
            $.map($(isetup.form).find('.input-detail tbody tr'), v => {
                const nilai = getfloatfromcurrency($(v).find('.Jumlah').html());
                subtotal += nilai;
            });
            subtotal = parseFloat(subtotal);
            const grandtotal = subtotal;

            isetup.form['GrandTotal'].value = getcurrencyfromfloat(grandtotal) || 0;
        }

        isetup.satuanselect = '@Html.Raw(HList.InventorySetupBarangSatuan)';

    });
</script>