﻿@using Inventory.Helper 
@{ 
    var listakun = HList.InventorySetupJenisAkun;
}
<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Jenis</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="Id" />
                        <div class="form-group">
                            <label class="col-md-4 control-label">Jenis</label>
                            <div class="col-md-8">
                                <input type="text" required name="Nama" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Kelompok</label>
                            <div class="col-md-8">
                                <select required name="Kelompok">@Html.Raw(HList.InventorySetupJenisKelompok)</select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Akun Pembelian</label>
                            <div class="col-md-8">
                                <select required name="AkunPembelian">@Html.Raw(listakun)</select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Jenis Pengadaan</label>
                            <div class="col-md-8">
                                <select required name="Jenis">@Html.Raw(HList.InventorySetupJenisPengadaan)</select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Akun Mutasi</label>
                            <div class="col-md-8">
                                <select required name="AkunMutasi">@Html.Raw(listakun)</select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <label class="checkbox-inline">
                                    Mutasi Tidak DiPosting
                                    <input type="checkbox" name="MutasiTidakDiPosting" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // detail value
                    t['Nama'].value = r.Data.Nama;
                    t['Kelompok'].value = r.Data.Kelompok;
                    t['AkunPembelian'].value = r.Data.AkunPembelian;
                    t['AkunMutasi'].value = r.Data.AkunMutasi;
                    t['MutasiTidakDiPosting'].checked = r.Data.MutasiTidakDiPosting;

                    isetup.init();
                    if (t['_PROCESS'].value === 'EDIT')
                        $(t['Nama']).attr('readonly', 'readonly');
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {

                        // param
                        Nama: t['Nama'].value,
                        Kelompok: t['Kelompok'].value,
                        AkunPembelian: t['AkunPembelian'].value,
                        Jenis: t['Jenis'].value,
                        AkunMutasi: t['AkunMutasi'].value,
                        MutasiTidakDiPosting: t['MutasiTidakDiPosting'].checked,

                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t) {
                isetup.init();
            }
        });

        $(isetup.form['Kelompok']).select2({
            allowClear: true,
            placeholder: ""
        });
        $(isetup.form['AkunPembelian']).select2({
            allowClear: true,
            placeholder: ""
        });
        $(isetup.form['Jenis']).select2({
            allowClear: true,
            placeholder: ""
        });
        $(isetup.form['AkunMutasi']).select2({
            allowClear: true,
            placeholder: ""
        });
    });
</script>