﻿<style>
    #modallookupperusahaan table td,
    #modallookupperusahaan table th {
        white-space: nowrap;
    }
</style>
<div id="modallookupperusahaan" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Perusahaan</h4>
            </div>
            <form id="lookupperusahaan">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header" style="padding-bottom:15px;">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Filter</label>
                                <input type="search" class="form-control" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                            </div>
                            <div class="form-group hide">
                                <label>Show</label>
                                <select class="form-control itable-pagesize" style="width: auto;" onchange="itablelookupperusahaan.refresh()">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="datatable-scroll table-responsive">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th class="sorting" data-itable-sorting="Kode_Customer">Kode<i></i></th>
                                    <th class="sorting" data-itable-sorting="Nama_Customer">Nama<i></i></th>
                                    <th class="sorting" data-itable-sorting="NamaKelas">Kelas<i></i></th>
                                    <th class="sorting" data-itable-sorting="JenisKerjasama">Jenis<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookupperusahaan.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookupperusahaan;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookupperusahaan = new iTable({
            url: '@Url.Action("ListLookupPeusahaan")',
            table: document.getElementById('lookupperusahaan'),
            orderby: 'Kode_Customer',
            orderbytype: true,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append('<tr><td colspan="4" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>');
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablelookupperusahaan.detailactive(this)">';

                        // column
                        tbody += '<td>' + value.Kode + '</td>';
                        tbody += '<td>' + value.Nama + '</td>';
                        tbody += '<td>' + value.Kelas + '</td>';
                        tbody += '<td>' + value.Jenis + '</td>';

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itablelookupperusahaan.openmodal = function (t) {
            if ($(isetup.form['TipePasien']).find('option:selected').html() === 'IKS') {
                itablelookupperusahaan.refresh();
                $('#modallookupperusahaan').modal();
                $('.modal-backdrop:last').css('z-index', $('#modallookupperusahaan').css('z-index') - 1);
            }
            else if ($(isetup.form['TipePasien']).find('option:selected').html() === 'BPJS') {
                itablelookupperusahaan.refresh();
                $('#modallookupperusahaan').modal();
                $('.modal-backdrop:last').css('z-index', $('#modallookupperusahaan').css('z-index') - 1);
            }
            else {
                alerterror("Pengisian data perusahaan hanya untuk pasien IKS Dan BPJS");
            }
        }

        itablelookupperusahaan.detailactive = function(t) {
            if ($(t).hasClass('bg-primary')) {
                itablelookupperusahaan.selected(t);
            } else {
                $(t).closest('tbody').find('.bg-primary').removeClass('bg-primary');
                $(t).addClass('bg-primary');
            }
        }

        itablelookupperusahaan.selected = function(t) {
            var model = JSON.parse($(t).closest('.modal').find('table tbody tr.bg-primary').data('model'));
            isetup.form['KodePerusahaan'].value = model.Kode;
            isetup.form['Perusahaan'].value = model.Nama;
            $(t).closest('.modal').modal('hide');
        }

        $('#modallookupperusahaan').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    });
</script>