﻿@{
    ViewBag.Title = "Info Status Stok";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@using Inventory.Helper
@using Microsoft.AspNet.Identity

<style>
    #formtable table th,
    #formtable table td {
        white-space: nowrap;
    }
</style>

<form id="formtable">
    <div class="panel panel-flat">
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header">
                <div class="dataTables_filter">
                    <label>
                        <span>Filter:</span>
                        <input type="search" data-itable-filter="All" placeholder="Type to filter...">
                    </label>
                </div>
                <select class="form-control itable-pagesize hide" style="width: auto;">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <div class="datatable-scroll">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            <th class="sorting text-center" data-itable-sorting="Tanggal" style="width: 100px;">Tanggal<i></i></th>
                            <th class="sorting" data-itable-sorting="Nama_Barang">Nama<i></i></th>
                            <th class="sorting text-right" data-itable-sorting="BFPrice" style="width: 150px;">BF Price<i></i></th>
                            <th class="sorting text-right" data-itable-sorting="UpPrice" style="width: 150px;">Up Price<i></i></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'Tanggal',
            orderbytype: false,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += '<tr><td colspan="5" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>';
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr>';

                        // column
                        tbody += '<td>' + value.Tanggal + '</td>';
                        tbody += '<td>' + value.Nama + '</td>';
                        tbody += '<td class="text-right">' + (getcurrencyfromfloat(value.BFPrice) || 0) + '</td>';
                        tbody += '<td class="text-right">' + (getcurrencyfromfloat(value.UpPrice) || 0) + '</td>';

                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itable.refresh();
    });
</script>