﻿@using Inventory.Helper

<style>
    #modalsetup .input-detail td{
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Retur Mutasi</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Bukti</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoBukti" class="form-control all-disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tanggal</label>
                                    <div class="col-md-9">
                                        <input type="date" required name="Tanggal" class="form-control" />
                                    </div>
                                </div>
                                <fieldset class="content-group">
                                    <legend class="text-bold">Mutasi</legend>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No Mutasi</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" name="NoMutasi" required class="form-control all-readonly" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-primary view-disabled" onclick="itablelookupmutasi.openmodal()"><i class="icon-search4"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Tanggal</label>
                                        <div class="col-md-9">
                                            <input type="date" name="TanggalMutasi" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Asal Retur</label>
                                    <div class="col-md-9">
                                        <input type="text" name="AsalRetur" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tujuan Retur</label>
                                    <div class="col-md-9">
                                        <input type="text" name="TujuanRetur" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Keterangan</label>
                                    <div class="col-md-9">
                                        <textarea name="Keterangan" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    @*<a onclick="itablelookupbarang.openmodal(true)"><i class="icon icon-plus2"></i></a>*@
                                                </td>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                                <td>Satuan</td>
                                                <td>Kategori</td>
                                                <td class="text-center">Konversi</td>
                                                <td class="text-center">Qty Stok</td>
                                                <td class="text-center">Qty Amprah</td>
                                                <td class="text-center" style="min-width: 80px;">Qty</td>
                                                <td class="text-right">Harga</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['NoBukti'].value = r.Data.NoBukti;
                    t['Tanggal'].value = r.Data.Tanggal;
                    t['Keterangan'].value = r.Data.Keterangan;
                    t['NoMutasi'].value = r.Data.NoMutasi;
                    t['TanggalMutasi'].value = r.Data.TanggalMutasi;
                    t['AsalRetur'].value = r.Data.AsalRetur;
                    t['TujuanRetur'].value = r.Data.TujuanRetur;
                    

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Kode,
                            value.Deskripsi,
                            value.Satuan,
                            value.Kategori,
                            value.Konversi,
                            value.Stok,
                            value.Amprahan,
                            value.Qty,
                            value.Harga
                        );
                    });

                    isetup.init();
                    if (t['_PROCESS'].value === 'EDIT') {
                        $(t['Tanggal']).attr('readonly', 'readonly');
                        $(t['DariSection']).attr('disabled', 'disabled');
                        $(t['Kepada']).attr('disabled', 'disabled');
                    }
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        NoMutasi: t['NoMutasi'].value,
                        Tanggal: t['Tanggal'].value,
                        Keterangan: t['Keterangan'].value,
                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id : $(value).data('id'),
                                Qty : $(value).find('.Qty').val(),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t) {
                isetup.form['Tanggal'].value = formatdate(new Date());
                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');
            }
        });

        $(isetup.form['DariSection']).select2();
        $(isetup.form['Kepada']).select2();
        isetup.cleave_detail_harga = [];

        isetup.customeremovedetail = (t, id) => {
            removedetail(t);
            isetup.cleave_detail_harga = isetup.cleave_detail_harga.filter(x => x.id !== id);
        };

        isetup.kepadaonchange = () => {
            $(isetup.form).find('.input-detail tbody').html('');
        };

        isetup.adddetailbody = (id, kode, nama, satuan, kategori, konversi, qtystok, qtyamprah, qty, harga, kodeakun) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + id + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }

            var _detail = '';
            _detail += '<tr  data-id="' + id + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="isetup.customeremovedetail(this, ' + id + ');" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';
            //_detail += '<tr data-id="' + id + '">';

            // input
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            _detail += '<td class="td-text">' + kategori + '</td>';
            _detail += '<td class="td-text text-center">' + konversi + '</td>';
            _detail += '<td class="td-text text-center">' + (qtystok || 0) + '</td>';
            _detail += '<td class="td-text text-center">' + qtyamprah + '</td>';
            _detail += '<td><input type="number" class="form-control text-right Qty" step="any" min="0" max="' + qty + '" value="' + qty + '" /></td>';
            _detail += '<td class="td-text text-right">' + getcurrencyfromfloat(harga) + '</td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);
        };
    });
</script>