﻿<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sub Kategori Barang</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="Id" />
                        <div class="form-group">
                            <label class="col-md-2 control-label">Kode</label>
                            <div class="col-md-10">
                                <input type="text" required name="Kode" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Nama</label>
                            <div class="col-md-10">
                                <input type="text" required name="Nama" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Kategori</label>
                            <div class="col-md-10">
                                <select name="Kategori"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // detail value
                    t['Id'].value = r.Data.Id;
                    t['Nama'].value = r.Data.Nama;
                    t['Kategori'].value = r.Data.Kategori;
                    t['Kode'].value = r.Data.Kode;

                    var option = new Option(r.Data.KategoriNama, r.Data.Kategori, true, true);
                    $(t['Kategori']).append(option);
                    
                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {

                        // param
                        Id: t['Id'].value,
                        Nama: t['Nama'].value,
                        Kategori: t['Kategori'].value,
                        Kode: t['Kode'].value,

                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t) {
                isetup.form['Kategori'].value = '';
                isetup.init();
            }
        });

        $(isetup.form['Kategori']).select2({
            ajax: {
                url: "@Url.Action("SetupSubKategoriBarangKategori", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return { results: $.map(data.Data, function (value, indel) { return { id: value.Id, text:  value.Kode + ' - ' + value.Nama } }), pagination: { more: (params.page * 30) < data.TotalCount } };
                    }
                }, cache: true
            }
        });
    });
</script>