﻿@{
    ViewBag.Title = "Infor Harga Obat";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@using Inventory.Helper
@using Microsoft.AspNet.Identity

<style>
    #formtable table td,
    #formtable table th {
        white-space: nowrap;
    }
</style>

<form id="formtable">
    <div class="panel panel-flat">
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header">
                <div class="form-inline" style="margin-bottom: 20px;">
                    
                </div>
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-3 hide">
                            <div class="form-group">
                                <label  class="col-md-4 control-label">Filter</label>
                                <div class="col-md-8">
                                    <input type="search" class="form-control" data-itable-filter="All" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Tipe Pasien</label>
                                <div class="col-md-8">
                                    <select class="form-control" onchange="itable.refresh()" data-itable-filter="TipePasien">@Html.Raw(HList.FarmasiTipePasien)</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Barang</label>
                                <div class="col-md-8">
                                    <select class="form-control" onchange="itable.refresh()" data-itable-filter="Barang"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <select class="form-control itable-pagesize hide" style="width: auto;">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <div class="datatable-scroll table-responsive">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            <th data-itable-sorting="KodeBarang" class="sorting" style="width:100px;">Kode<i></i></th>
                            <th data-itable-sorting="Nama_Barang" class="sorting">Nama<i></i></th>
                            <th data-itable-sorting="" class="sorting text-center" style="width:100px;">Satuan<i></i></th>
                            <th data-itable-sorting="Stok" class="sorting text-center" style="width:100px;">Stok<i></i></th>
                            <th data-itable-sorting="Harga" class="sorting text-right" style="width:100px;">Harga<i></i></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'KodeBarang',
            orderbytype: false,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += '<tr><td colspan="5" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>';
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr>';

                        // column
                        tbody += '<td>' + (value.Kode || '-') + '</td>';
                        tbody += '<td>' + (value.Nama || '-') + '</td>';
                        tbody += '<td class="text-center">' + (value.Satuan || '-') + '</td>';
                        tbody += '<td class="text-center">' + (value.Stok || '0') + '</td>';
                        tbody += '<td class="text-right">' + (value.Harga || '0') + '</td>';

                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itable.refresh();

        $('[data-itable-filter="Barang"]').select2({
            ajax: {
                url: "@Url.Action("FarmasiInformasiHargaObatLookUpBarang", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return { results: $.map(data.Data, function (value, indel) { return { id: value.Id, text:  value.Kode + ' - ' + value.Nama } }), pagination: { more: (params.page * 30) < data.TotalCount } };
                    }
                }, cache: true
            }
        });
    });
</script>