﻿<style>
    #modallookupregistrasi table td,
    #modallookupregistrasi table th {
        white-space: nowrap;
    }
</style>
<div id="modallookupregistrasi" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Registrasi</h4>
            </div>
            <form id="lookupregistrasi">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header" style="padding-bottom:15px;">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Filter</label>
                                <input id="fltrregistrfrmsbrg" type="search" class="form-control" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                            </div>
                            <div class="form-group hide">
                                <label>Show</label>
                                <select class="form-control itable-pagesize" style="width: auto;" onchange="itablelookupregistrasi.refresh()">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="datatable-scroll table-responsive">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th class="sorting" data-itable-sorting="NoReg">No Reg<i></i></th>
                                    <th class="sorting text-center" data-itable-sorting="TglReg">Tanggal<i></i></th>
                                    <th class="sorting text-center" data-itable-sorting="RawatInap">Rawat Inap<i></i></th>
                                    <th class="sorting text-center" data-itable-sorting="NRM">NRM<i></i></th>
                                    <th class="sorting" data-itable-sorting="NamaPasien">Nama<i></i></th>
                                    <th class="sorting text-center" data-itable-sorting="JenisKelamin">Gender<i></i></th>
                                    <th class="sorting" data-itable-sorting="Nama_Customer">Perusahaan<i></i></th>
                                    <th class="sorting" data-itable-sorting="NoKartu">NoKartu<i></i></th>
                                    <th class="sorting" data-itable-sorting="Alamat">Alamat<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookupregistrasi.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookupregistrasi;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookupregistrasi = new iTable({
            url: '@Url.Action("ListLookupregistrasi")',
            table: document.getElementById('lookupregistrasi'),
            orderby: 'NoReg',
            orderbytype: true,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append('<tr><td colspan="9" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>');
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablelookupregistrasi.detailactive(this)">';

                        // column
                        tbody += '<td>' + value.NoReg + '</td>';
                        tbody += '<td class="text-center">' + value.Tanggal + '</td>';
                        tbody += '<td class="text-center"><i class="icon-' + (value.RawatInap ? 'checkmark4' : 'minus3') + '"></i></td>';
                        tbody += '<td class="text-center">' + value.NRM + '</td>';
                        tbody += '<td>' + value.Nama + '</td>';
                        tbody += '<td class="text-center">' + value.Gender + '</td>';
                        tbody += '<td>' + (value.Perusahaan || '-') + '</td>';
                        tbody += '<td>' + (value.NoKartu || '-') + '</td>';
                        tbody += '<td>' + (value.Alamat || '-') + '</td>';

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itablelookupregistrasi.openmodal = function(t) {
            itablelookupregistrasi.refresh();
            $('#modallookupregistrasi').modal();
            $('.modal-backdrop:last').css('z-index', $('#modallookupregistrasi').css('z-index') - 1);
            $('#fltrregistrfrmsbrg').val('');
            
        }

        itablelookupregistrasi.clear = () => {
            itablelookupbilling.clear();
            isetup.form['NoReg'].value = '';
            isetup.form['NRM'].value = '';
            isetup.form['Nama'].value = '';
        };

        itablelookupregistrasi.detailactive = function(t) {
            if ($(t).hasClass('bg-primary')) {
                itablelookupregistrasi.selected(t);
            } else {
                $(t).closest('tbody').find('.bg-primary').removeClass('bg-primary');
                $(t).addClass('bg-primary');
            }
        }

        itablelookupregistrasi.selected = function(t) {
            var model = JSON.parse($(t).closest('.modal').find('table tbody tr.bg-primary').data('model'));
            isetup.form['NoReg'].value = model.NoReg;
            isetup.form['NRM'].value = model.NRM;
            isetup.form['Nama'].value = model.Nama;
            $(t).closest('.modal').modal('hide');
            $('#fltrregistrfrmsbrg').val('');
        }

        $('#modallookupregistrasi').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    });
</script>