﻿@{
    ViewBag.Title = "Cancel Posting Keuangan";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@using Inventory.Helper
@using Microsoft.AspNet.Identity

<style>
    #formtable tbody tr {
        cursor: pointer;
    }

    #formtable table th,
    #formtable table td {
        white-space: nowrap;
    }
</style>

<div class="panel panel-flat" id="formtable">
    <div class="dataTables_wrapper no-footer" style="display: block;">
        <form>
            <div class="datatable-header" style="padding-bottom: 20px;">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Periode</label>
                        <input type="date" name="start" class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))">
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        <input type="date" name="end" class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))">
                    </div>
                    <button type="button" onclick="refreshdata()" class="btn btn-default"><i class="icon-search4"></i></button>
                </div>
            </div>
        </form>
            <div class="datatable-scroll">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            <th style="width: 100px;">No Transaksi</th>
                            <th style="width: 100px;" class="text-center">Tanggal</th>
                            <th style="width: 150px;">Section</th>
                            <th style="width: 150px;">Jenis</th>
                            <th style="width: 150px;" class="text-right">Nilai</th>
                            <th>Keterangan</th>
                            <th>Supplier</th>
                        </tr>
                    </thead>
                    <tbody id="inputtbody"></tbody>
                </table>
            </div>
            <div class="datatable-footer text-right">
                <div class="form-group">
                    <button type="button" onclick="checkallonclick()" class="btn btn-default pull-left"><i class="icon-check"></i> CHECK ALL</button>
                    <button type="button" onclick="uncheckallonclick()" class="btn btn-default pull-left"><i class="icon-cross3"></i> UNCHECK ALL</button>
                    <button type="button" onclick="updateonclick()" class="btn btn-danger"><i class="icon-floppy-disk"></i> CANCEL POSTING</button>
                </div>
            </div>
    </div>
</div>

<script>
    const refreshdata = () => {
        $.ajax({
            url: '@Url.Action("List")',
            type: 'POST',
            data: {
                start: $("input[name='start']").val(),
                end: $("input[name='end']").val()
            },
            success: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    $('#inputtbody').html('');
                    r.Data.forEach(x => {
                        _r = '<tr data-id="' + x.NoTransaksi + '" onclick="detailonclick(this)">';
                        _r += '<td>' + x.NoTransaksi + '</td>';
                        _r += '<td class="text-center">' + x.Tanggal + '</td>';
                        _r += '<td>' + x.Section + '</td>';
                        _r += '<td>' + x.Jenis + '</td>';
                        _r += '<td class="text-right">' + (getcurrencyfromfloat(x.Nilai) || 0) + '</td>';
                        _r += '<td>' + x.Keterangan + '</td>';
                        _r += '<td>' + x.Supplier + '</td>';
                        _r += '</tr>';
                        $('#inputtbody').append(_r);
                    });
                } else {
                    alerterror(r.Message);
                }
            },
            error: function (xhr) { alerterror(xhr); },
            beforeSend: function () { loading(true); },
            complete: function () { loading(false); }
        });
    };

    const detailonclick = (t) => {
        if ($(t).hasClass('bg-primary')) {
            $(t).removeClass('bg-primary');
        } else {
            $(t).addClass('bg-primary');
        }
    };

    const checkallonclick = () => {
        $('#inputtbody tr:not(.bg-primary)').addClass('bg-primary');
    };

    const uncheckallonclick = () => {
        $('#inputtbody tr.bg-primary').removeClass('bg-primary');
    };

    const updateonclick = () => {
        let data = [];
        $.each($('#inputtbody tr.bg-primary'), (i, v) => {
            data.push({
                No: $(v).data('id'),
            });
        });
        $.ajax({
            url: '@Url.Action("Save")',
            type: 'POST',
            data: { model: data },
            success: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    refreshdata();
                    alertpopup("Data berhasil disimpan", "success");
                } else {
                    refreshdata();
                    alerterror(r.Message);
                    alertpopup("Gagal Posting", "info");
                }
            },
            error: function (xhr) { alerterror(xhr); },
            beforeSend: function () { loading(true); },
            complete: function () { loading(false); }
        });
    };
</script>