﻿<div id="loading" class="hide">
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<script>
        document.addEventListener("DOMContentLoaded", function (event) {
            initmahas();
        });
</script>