﻿@using Inventory.Helper
<div id="modallookuppeminjaman" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Peminjaman</h4>
            </div>
            <form id="lookupmutasi">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header" style="padding-bottom:15px;">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Filter</label>
                                <input type="search" class="form-control" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control" onchange="itablelookuppeminjaman.refresh()" data-itable-filter="Tanggal" value="@(ConfigModel.Develop ? "" : DateTime.Today.ToString("yyyy-MM-dd"))">
                            </div>
                            <div class="form-group hide">
                                <label>Show</label>
                                <select class="form-control itable-pagesize" style="width: auto;" onchange="itablelookuppeminjaman.refresh()">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="datatable-scroll">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th class="sorting" data-itable-sorting="No_Peminjaman" style="width: 180px;">No Pemberian<i></i></th>
                                    <th class="sorting" data-itable-sorting="Tgl_Bonus" style="width: 100px;">Tanggal<i></i></th>
                                    <th class="sorting" data-itable-sorting="Nama_Supplier">Supplier<i></i></th>
                                    <th class="sorting" data-itable-sorting="Keterangan">Keterangan<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookuppeminjaman.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookuppeminjaman;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookuppeminjaman = new iTable({
            url: '@Url.Action("ListLookupMutasi")',
            table: document.getElementById('lookupmutasi'),
            orderby: 'No_Peminjaman',
            orderbytype: false,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append('<tr><td colspan="6" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>');
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablelookuppeminjaman.detailactive(this)">';

                        // column
                        tbody += '<td>' + value.NoBukti + '</td>';
                        tbody += '<td class="text-center">' + value.Tanggal + '</td>';
                        tbody += '<td>' + value.Nama_Supplier + '</td>';
                        tbody += '<td>' + (value.Keterangan || '-') + '</td>';

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itablelookuppeminjaman.openmodal = function(t) {
            itablelookuppeminjaman.refresh();
            $('#modallookuppeminjaman').modal();
            $('.modal-backdrop:last').css('z-index',$('#modallookuppeminjaman').css('z-index') - 1);
        }

        itablelookuppeminjaman.detailactive = function(t) {
            if ($(t).hasClass('bg-primary')) {
                itablelookuppeminjaman.selected(t);
            } else {
                $(t).closest('tbody').find('.bg-primary').removeClass('bg-primary');
                $(t).addClass('bg-primary');
            }
        }

        itablelookuppeminjaman.selected = function(t) {
            var model = JSON.parse($(t).closest('.modal').find('table tbody tr.bg-primary').data('model'));

            $.ajax({
                url: '@Url.Action("DetailPeminjaman")',
                type: 'POST',
                data: { id: model.NoBukti },
                success: function (r) {
                    r = JSON.parse(r);
                    if (r.IsSuccess) {
                        isetup.form['No_Peminjaman'].value = r.Data.No_Peminjaman;
                        isetup.form['SupplierID'].value = r.Data.SupplierID;
                        isetup.form['Nama_Supplier'].value = r.Data.Nama_Supplier;
                        isetup.form['Lokasi'].value = r.Data.Lokasi;
                        isetup.form['Keterangan'].value = r.Data.Keterangan;
                        // detail
                        $(isetup.form).find('.input-detail tbody').html('');
                        //id, kode, nama, satuan, kategori, konversi, qtystok, qtyamprah, qty, harga, kodeakun, namaakun
                        $.each(r.Detail, function (index, value) {
                            isetup.adddetailbody(
                                value.Id,
                                value.Kode,
                                value.Deskripsi,
                                value.Satuan,
                                value.Qty,
                                0,
                                value.Harga
                            );
                        });

                        $(t).closest('.modal').modal('hide');
                    } else
                        alerterror(r.Message);
                },
                error: function (xhr) { alerterror(xhr); },
                beforeSend: function () { loading(true); },
                complete: function () { loading(false); }
            });
        }

        $('#modallookuppeminjaman').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    });
</script>