﻿@model Inventory.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <div class="text-center">
        <div class="icon-object border-success text-success"><i class="icon-user"></i></div>
        <h5 class="content-group text-bold">Hello @(Model.FirstName )!</h5>
    </div>
    <dl class="dl-horizontal">
        <dt>Username:</dt>
        <dd>
            @Model.FirstName
            [
            @Html.ActionLink("Edit", "ChangeUsername")
            ]
        </dd>
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Edit", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
    @*<dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd>
            @(Model.FirstName + " " + Model.LastName)
        </dd>

        <dt>Gender:</dt>
        <dd>
            @(Model.Gender == "M" ? "Male" : Model.Gender == "F" ? "Female" : "Other")
        </dd>

        <dt>Birthday:</dt>
        <dd>
            @(Model.Birthday.ToString("dd/MM/yyyy"))
        </dd>

        <dt>Address:</dt>
        <dd>
            @Model.Address
        </dd>
    </dl>*@
</div>
