﻿@{
    ViewBag.Title = "Section";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}

<form id="formtable">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title"></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a class="panel-action action-plus" href="javascript:isetup.opensetup('CREATE')"></a></li>
                    <li><a class="panel-action action-reload" href="javascript:itable.refresh()"></a></li>
                </ul>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header" style="padding-bottom: 20px;">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Filter</label>
                        <input type="search" onchange="itable.pageindex=0" data-itable-filter="All" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Unit Bisnis</label>
                        <select data-itable-filter="UnitBisnis" class="form-control" onchange="itable.refresh()">
                            <option value="">All</option>
                            @Html.Raw(Inventory.Helper.HList.Other_Section_List_UnitBisnis)
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Show</label>
                        <select class="form-control itable-pagesize" onchange="itable.refresh()" style="width: auto;">
                            <option selected>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="datatable-scroll">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            <th class="sorting text-center" data-itable-sorting="SectionID" style="width:100px;">ID<i></i></th>
                            <th class="sorting" data-itable-sorting="SectionName">Section<i></i></th>
                            <th class="sorting" data-itable-sorting="PenanggungJawab">Penanggung Jawab<i></i></th>
                            <th class="sorting" data-itable-sorting="TipePelayanan">Tipe Pelayanan<i></i></th>
                            <th class="text-center sorting_disabled" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'SectionID',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += `<tr><td colspan="${$(itable.table).find('thead th').length}" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>`;
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr class="odd">';

                        // column
                        tbody += '<td class="text-center">' + value.Id + '</td>';
                        tbody += '<td>' + value.Nama + '</td>';
                        tbody += '<td>' + value.PenanggungJawab + '</td>';
                        tbody += '<td>' + value.TipePelayanan + '</td>';

                        tbody += '<td class="text-center">';
                        tbody += '<ul class="icons-list">';
                        tbody += '<li class="dropdown">';
                        tbody += '<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<ul class="dropdown-menu dropdown-menu-right">';

                        // action
                        tbody += '<li><a href="javascript:isetup.opensetup(\'EDIT\',{ id : \'' + value.Id + '\'})"><i class="icon-pencil"></i> Edit</a></li>';
                        tbody += '<li><a href="javascript:isetupduplicate.opensetup(\'EDIT\',{ id : \'' + value.Id + '\'})"><i class="icon-pen-plus"></i> Duplicate</a></li>';
                        tbody += '<li><a href="javascript:isetup.opensetup(\'DELETE\',{ id : \'' + value.Id + '\'})"><i class="icon-trash"></i> Delete</a></li>';

                        tbody += '</ul>';
                        tbody += '</li>';
                        tbody += '</ul>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });
        itable.refresh();
    });
</script>
@Html.Partial("Setup")
@Html.Partial("SetupDuplikat")