﻿@using Inventory.Helper 
<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Section</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">ID</label>
                                    <div class="col-md-8">
                                        <input type="text" name="Id" class="form-control all-readonly" maxlength="100" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nama</label>
                                    <div class="col-md-8">
                                        <input type="text" name="Nama" required class="form-control" maxlength="100" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Penanggun Jawab</label>
                                    <div class="col-md-8">
                                        <input type="text" name="PenanggunJawab" required class="form-control" maxlength="100" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Tipe Pelayanan</label>
                                    <div class="col-md-8">
                                        <select name="TipePelayanan" class="form-control">
                                            @Html.Raw(HList.Other_Section_TipePelayanan)
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Kelompok Section</label>
                                    <div class="col-md-8">
                                        <select name="KelompokSection" class="form-control create-clear">
                                            @Html.Raw(HList.Other_Section_KelompokSection)
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="RIOnly" />
                                            RI Only
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="RuangBayi" />
                                            Ruang Bayi
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="ICU" />
                                            ICU
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Poliklinik</label>
                                    <div class="col-md-8">
                                        <select name="Poliklinik" class="form-control">
                                            @Html.Raw(HList.Other_Section_Poliklinik)
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Kode No Bukti</label>
                                    <div class="col-md-8">
                                        <input type="text" name="KodeNoBukti" required class="form-control" maxlength="100" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Jumlah TT</label>
                                    <div class="col-md-8">
                                        <input type="number" name="JumlahTT" class="form-control" maxlength="100" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Unit Bisnis</label>
                                    <div class="col-md-8">
                                        <select name="UnitBisnis" required>
                                            @Html.Raw(HList.Other_Section_List_UnitBisnis)
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">IP Farmasi</label>
                                    <div class="col-md-8">
                                        <input type="text" name="IPFarmasi" class="form-control" maxlength="100" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Pelayanan</label>
                                    <div class="col-md-8">
                                        <select name="Pelayanan" required class="form-control">
                                            @Html.Raw(HList.Other_Section_Pelayanan)
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="BlokCoPayment" />
                                            Blok Co Payment
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="Aktif" />
                                            Aktif
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Customer</label>
                                    <div class="col-md-8">
                                        <select name="Customer" class="form-control create-clear"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Akun Mutasi In</label>
                                    <div class="col-md-8">
                                        <select name="AkunMutasiIn" required class="form-control create-clear"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Akun Mutasi Out</label>
                                    <div class="col-md-8">
                                        <select name="AkunMutasiOut" required class="form-control create-clear"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // detail value
                    t['Id'].value = r.Data.Id;
                    t['Nama'].value = r.Data.Nama;
                    t['PenanggunJawab'].value = r.Data.PenanggunJawab;
                    t['TipePelayanan'].value = r.Data.TipePelayanan;
                    t['KelompokSection'].value = r.Data.KelompokSection;
                    t['RIOnly'].checked = r.Data.RIOnly;
                    t['RuangBayi'].checked = r.Data.RuangBayi;
                    t['ICU'].checked = r.Data.ICU;
                    t['Poliklinik'].value = r.Data.Poliklinik;
                    t['KodeNoBukti'].value = r.Data.KodeNoBukti;
                    t['JumlahTT'].value = r.Data.JumlahTT;
                    t['UnitBisnis'].value = r.Data.UnitBisnis;
                    t['IPFarmasi'].value = r.Data.IPFarmasi;
                    t['Pelayanan'].value = r.Data.Pelayanan;
                    t['BlokCoPayment'].checked = r.Data.BlokCoPayment;
                    t['Aktif'].checked = r.Data.Aktif;
                    t['Customer'].value = r.Data.Customer;
                    t['AkunMutasiIn'].value = r.Data.AkunMutasiIn;
                    t['AkunMutasiOut'].value = r.Data.AkunMutasiOut;

                    if (r.Data.Customer) {
                        const option = new Option(r.Data.CustomerNama, r.Data.Customer, true, true);
                        $(t['Customer']).append(option);
                    }
                    if (r.Data.AkunMutasiIn) {
                        const option = new Option(r.Data.AkunMutasiInNama, r.Data.AkunMutasiIn, true, true);
                        $(t['AkunMutasiIn']).append(option);
                    }
                    if (r.Data.AkunMutasiOut) {
                        const option = new Option(r.Data.AkunMutasiOutNama, r.Data.AkunMutasiOut, true, true);
                        $(t['AkunMutasiOut']).append(option);
                    }

                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {

                        // param
                        Id: t['Id'].value,
                        Nama: t['Nama'].value,
                        PenanggunJawab: t['PenanggunJawab'].value,
                        TipePelayanan: t['TipePelayanan'].value,
                        KelompokSection: t['KelompokSection'].value,
                        RIOnly: t['RIOnly'].checked,
                        RuangBayi: t['RuangBayi'].checked,
                        ICU: t['ICU'].checked,
                        Poliklinik: t['Poliklinik'].value,
                        KodeNoBukti: t['KodeNoBukti'].value,
                        JumlahTT: t['JumlahTT'].value,
                        UnitBisnis: t['UnitBisnis'].value,
                        IPFarmasi: t['IPFarmasi'].value,
                        Pelayanan: t['Pelayanan'].value,
                        BlokCoPayment: t['BlokCoPayment'].checked,
                        Aktif: t['Aktif'].checked,
                        Customer: t['Customer'].value,
                        AkunMutasiIn: t['AkunMutasiIn'].value,
                        AkunMutasiOut: t['AkunMutasiOut'].value,

                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t) {
                isetup.init();
            }
        });

        $(isetup.form['TipePelayanan']).select2();
        $(isetup.form['KelompokSection']).select2();
        $(isetup.form['Poliklinik']).select2();
        $(isetup.form['UnitBisnis']).select2();
        $(isetup.form['Pelayanan']).select2();

        $(isetup.form['Customer']).select2({
            ajax: {
                url: "@Url.Action("Other_Section_Customer", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return { results: $.map(data.Data, function (value, index) { return { id: value.Id, text: value.Kode + ' - ' + value.Nama } }), pagination: { more: (params.page * 30) < data.TotalCount } };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        $(isetup.form['AkunMutasiIn']).select2({
            ajax: {
                url: "@Url.Action("Other_Section_AkunMutasi", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return { results: $.map(data.Data, function (value, index) { return { id: value.Kode, text: value.Kode + ' - ' + value.Nama } }), pagination: { more: (params.page * 30) < data.TotalCount } };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        $(isetup.form['AkunMutasiOut']).select2({
            ajax: {
                url: "@Url.Action("Other_Section_AkunMutasi", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Kode,
                                    text: value.Kode + ' - ' + value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

    });
</script>