﻿<style>
    #modallookupbilling table td,
    #modallookupbilling table th {
        white-space: nowrap;
    }
</style>

<div id="modallookupbilling" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Billing</h4>
            </div>
            <form id="lookupbilling">
                <input type="hidden" data-itable-filter="NoReg">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header" style="padding-bottom:15px;">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Filter</label>
                                <input id="fltrbillfarmasi" type="search" class="form-control" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                                <label>Dari</label>
                                <input type="date" name="periode" onchange="itablelookupbilling.pageindex = 0; itablelookupbilling.refresh();" data-itable-filter="PeriodeStart" class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))" />
                                <label>Sampai</label>
                                <input type="date" name="sampai" onchange="itablelookupbilling.pageindex = 0; itablelookupbilling.refresh();" data-itable-filter="PeriodeEnd" class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))" />
                            </div>
                            <div class="form-group hide">
                                <label>Show</label>
                                <select class="form-control itable-pagesize" style="width: auto;" onchange="itablelookupbilling.refresh()">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="datatable-scroll table-responsive">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th class="sorting" data-itable-sorting="NoBukti">NoBukti<i></i></th>
                                    <th class="sorting" data-itable-sorting="Tanggal">Tanggal<i></i></th>
                                    <th class="sorting" data-itable-sorting="Jam">Jam<i></i></th>
                                    <th class="sorting" data-itable-sorting="NamaPasien">Nama<i></i></th>
                                    <th class="sorting" data-itable-sorting="JenisKerjasama">Jenis Kerjasama<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookupbilling.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookupbilling;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookupbilling = new iTable({
            url: '@Url.Action("ListLookupbilling")',
            table: document.getElementById('lookupbilling'),
            orderby: 'NoBukti',
            orderbytype: true,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append('<tr><td colspan="8" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>');
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr onclick="itablelookupbilling.detailactive(this)">';

                        // column
                        tbody += '<td>' + value.NoBukti + '</td>';
                        tbody += '<td>' + value.Tanggal + '</td>';
                        tbody += '<td>' + value.Jam + '</td>';
                        tbody += '<td>' + value.NamaPasien + '</td>';
                        tbody += '<td>' + value.JenisKerjasama + '</td>';

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itablelookupbilling.openmodal = function (t) {
            itablelookupbilling.pageindex = 0;
            //$('#modallookupbilling [data-itable-filter="NoReg"]').val(isetup.form['NoReg'].value);
            //if (isetup.form['NoReg'].value) {
            //    itablelookupbilling.refresh();
            //    $('#modallookupbilling').modal();
            //    $('.modal-backdrop:last').css('z-index', $('#modallookupbilling').css('z-index') - 1);
            //} else {
            //    alerterror('Data registrasi harus diisi');
            //}
            itablelookupbilling.refresh();
            $('#modallookupbilling').modal();
            $('.modal-backdrop:last').css('z-index', $('#modallookupbilling').css('z-index') - 1);
            $('#fltrbillfarmasi').val('');

        }

        itablelookupbilling.detailactive = function(t) {
            if ($(t).hasClass('bg-primary')) {
                itablelookupbilling.selected(t);
            } else {
                $(t).closest('tbody').find('.bg-primary').removeClass('bg-primary');
                $(t).addClass('bg-primary');
            }
        }

        itablelookupbilling.clear = () => {
            isetup.form['NoBilling'].value = '';
            isetup.form['TanggalBilling'].value = '';
            $(isetup.form).find('.input-detail tbody tr').remove();
        };

        itablelookupbilling.selected = function(t) {
            var model = JSON.parse($(t).closest('.modal').find('table tbody tr.bg-primary').data('model'));
            $.ajax({
                url: '@Url.Action("DetailBilling")',
                type: 'POST',
                data: { id: model.NoBukti },
                success: function (r) {
                    r = JSON.parse(r);
                    if (r.IsSuccess) {
                        isetup.form['NoBilling'].value = model.NoBukti;
                        isetup.form['Keterangan'].value = model.NamaPasien;
                        isetup.form['TanggalBilling'].value = model.InputTanggal + 'T' + model.Jam;

                        // detail
                        $(isetup.form).find('.input-detail tbody tr').remove();
                        $.each(r.Detail, function (index, value) {
                            isetup.adddetailbody(
                                value.Id,
                                model.NoBukti,
                                value.Kode,
                                value.Nama,
                                value.Satuan,
                                value.JmlObat,
                                value.Harga,
                                ''
                            );
                        });

                        $(t).closest('.modal').modal('hide');
                    } else
                        alerterror(r.Message);
                },
                error: function (xhr) { alerterror(xhr); },
                beforeSend: function () { loading(true); },
                complete: function () { loading(false); }
            });
            $('#fltrbillfarmasi').val('');
        }

        $('#modallookupbilling').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    });
</script>