﻿@using Inventory.Helper

<style>
    #modalsetup .input-detail td {
        white-space: nowrap;
    }

    #table_detailstyle tbody td:nth-child(8) {
        text-align: center;
        width: 100px;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Retur Obat Bebas</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Retur</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoRetur" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tanggal</label>
                                    <div class="col-md-9">
                                        <input type="datetime-local" required name="Tanggal" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Keterangan</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Keterangan" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <fieldset class="content-group">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No Bill</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text" name="NoBilling" required class="form-control all-readonly" />
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-primary view-disabled" onclick="itablelookupbilling.openmodal()"><i class="icon-search4"></i></button>
                                                </div>
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default view-disabled" onclick="itablelookupbilling.clear()"><i class="icon-eraser2"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Tgl Billing</label>
                                        <div class="col-md-9">
                                            <input type="datetime-local" name="TanggalBilling" class="form-control all-readonly" />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="table_detailstyle" class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    @*<a onclick="itablelookupbarang.openmodal(true)"><i class="icon icon-plus2"></i></a>*@
                                                </td>
                                                <td>No Billing</td>
                                                <td>Kode</td>
                                                <td>Nama</td>
                                                <td>Satuan</td>
                                                <td class="text-center">Jml Obat</td>
                                                <td class="text-center">Harga</td>
                                                <td class="text-center">Qty Retur</td>
                                                <td class="text-center">Jumlah</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label hidden">Total Retur</label>
                            <div class="col-md-9">
                                <input type="hidden" name="SubTotal" class=" form-control all-readonly" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['NoRetur'].value = r.Data.NoRetur;
                    t['Tanggal'].value = r.Data.Tanggal + 'T' + r.Data.Jam;
                    t['Keterangan'].value = r.Data.Alasan;
                    t['NoBilling'].value = r.Data.NoBilling;
                    t['TanggalBilling'].value = r.Data.TanggalBilling + 'T' + r.Data.JamBilling;

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.NoBill,
                            value.Kode,
                            value.Nama,
                            value.Satuan,
                            value.JumlahObat,
                            value.Harga,
                            value.Qty_Retur,
                            value.HargaPersediaan
                        );
                    });

                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        NoRetur: t['NoRetur'].value,
                        NoBilling: t['NoBilling'].value,
                        Tanggal: t['Tanggal'].value,
                        Alasan: t['Keterangan'].value,
                        SubTotal: getfloatfromcurrency(t['SubTotal'].value),

                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id : $(value).data('id'),
                                Satuan: $(value).find('.Satuan').val(),
                                QtryRetur: $(value).find('.QtryRetur').val(),
                                HargaQtryRetur: getfloatfromcurrency($(value).find('.HargaQtryRetur').val() || 0),
                                NoBilling: $(value).data('nobill'),
                                //Harga: $(value).find('.Harga').val(),
                                Harga: getfloatfromcurrency($(value).find('.Harga').val() || 0),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                isetup.init();

                let h = new Date().getHours();
                let m = new Date().getMinutes();
                h = h < 10 ? '0' + h : h;
                m = m < 10 ? '0' + m : m;
                const time = 'T' + h + ':' + m;

                isetup.form['Tanggal'].value = formatdate(new Date()) + time;
                //itablelookupregistrasi.openmodal();
                $(t).find('.input-detail tbody').html('');
            }
        });

        isetup.cleave_detail_harga = [];

        isetup.adddetailbody = (id, nobill, kode, nama, satuan, jmlobat, harga, qtyretur, jumlah, hidedelete, obat) => {
            const has = $(isetup.form).find('.input-detail tbody tr[data-id="' + nobill + '"]');
            if (has.length) {
                has.find('.Qty').val((parseFloat(has.find('.Qty').val()) || 0) + obat);
                return;
            }

            var _detail = '';
            _detail += '<tr data-id="' + id + '" data-nobill="' + nobill + '" class="' + (hidedelete ? 'lockdelete' : '') + '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';

            // input
            _detail += '<td class="td-text">' + nobill + '</td>';
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text text-center"><input type="text"  class="hidden text-right Satuan" step="any" min="0" value="' + (satuan || '') + '" />' + (satuan || '') + '</td>';
            _detail += '<td class="td-text text-center">' + (jmlobat || 0) + '</td>';
            _detail += '<td class="td-text text-center"><input type="text"  class="hidden text-right Harga" step="any" min="0" value="' + (getcurrencyfromfloat(harga) || 0) + '" />' + (getcurrencyfromfloat(harga) || 0) + '</td>';
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-right QtryRetur" step="any" min="0" max="' + jmlobat + '" value="' + qtyretur + '" /></td>';
            _detail += '<td class="td-text text-right HargaQtryRetur">' + (getcurrencyfromfloat(jumlah) || 0) + '</td>';


            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);

            const _inputharga = $(isetup.form).find('tbody tr:last-child .Harga').last();
            isetup.cleave_detail_harga.push({
                id: id,
                clave: new Cleave(_inputharga, {
                    numeral: true,
                    numeralThousandsGroupStyle: 'thousand'
                }),
            });
            isetup.hitungtotal();
        };

        isetup.hitungjumlah = (t) => {
            const tr = $(t).closest('tr');
            const id = parseInt($(tr).data('id'));
            //const stok = parseFloat(tr.find('.Stok').val());
            const qty = parseFloat(tr.find('.QtryRetur').val());
            const harga = parseFloat(isetup.cleave_detail_harga.find(x => x.id === id).clave.getRawValue());

            const _jum = harga * qty;

            tr.find('.HargaQtryRetur').html(getcurrencyfromfloat(_jum) || 0);
            isetup.hitungtotal();

        }

        isetup.hitungtotal = () => {
            let subtotal = 0;
            $.map($(isetup.form).find('.input-detail tbody tr'), v => {
                const nilai = getfloatfromcurrency($(v).find('.HargaQtryRetur').html());
                subtotal += nilai;
            });
            subtotal = parseFloat(subtotal);
            //const biayaracik = parseFloat(isetup.cleave_BiayaRacik.getRawValue()) || 0;
            //const grandtotal = subtotal + biayaracik;
            isetup.form['SubTotal'].value = getcurrencyfromfloat(subtotal) || 0;
            //isetup.form['GrandTotal'].value = getcurrencyfromfloat(grandtotal) || 0;
        }

        $('#modaleresep').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    });
</script>