﻿@using Inventory.Helper
@using Inventory.Models
@{
    ViewBag.Title = "Home";
    var group = Request.Cookies["Inventory_Section_Group"].Value;
}
@model HomeViewModel
    <div class="panel">
        <div class="panel-heading">
            <h6 class="panel-title">Menu</h6>
            <div class="heading-elements">
                <button disabled class="btn btn-link daterange-ranges heading-btn text-semibold">
                    <i class="icon-calendar3 position-left"></i> <span>@(HList.ListBulan.FirstOrDefault(x => x.Value == DateTime.Today.Month.ToString()).Text) @DateTime.Today.Year</span>
                </button>
            </div>
        </div>
        @if (group == "GUDANG")
        {
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <a href="@Url.Action("Index", "PermintaanPembelian")">
                            <div class="panel panel-body bg-blue-400 has-bg-image">
                                <div class="media no-margin">
                                    <div class="media-body">
                                        <h3 class="no-margin">@HConvert.ToMoney(Model.Inventory_PermintaanPembelian)</h3>
                                        <span class="text-uppercase text-size-mini">Permintaan Beli</span>
                                    </div>

                                    <div class="media-right media-middle">
                                        <i class="icon-cart icon-3x opacity-75"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <a href="@Url.Action("Index", "PenerimaanBarang")">
                            <div class="panel panel-body bg-danger-400 has-bg-image">
                                <div class="media no-margin">
                                    <div class="media-body">
                                        <h3 class="no-margin">@HConvert.ToMoney(Model.Inventory_PenerimaanBarang)</h3>
                                        <span class="text-uppercase text-size-mini">Penerimaan Barang</span>
                                    </div>

                                    <div class="media-right media-middle">
                                        <i class="icon-cart-add icon-3x opacity-75"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <a href="@Url.Action("Index", "Amprahan")">
                            <div class="panel panel-body bg-success-400 has-bg-image">
                                <div class="media no-margin">
                                    <div class="media-left media-middle">
                                        <i class="icon-basket icon-3x opacity-75"></i>
                                    </div>

                                    <div class="media-body text-right">
                                        <h3 class="no-margin">@HConvert.ToMoney(Model.Inventory_Amprahan)</h3>
                                        <span class="text-uppercase text-size-mini">Amprahan</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <a href="@Url.Action("Index", "MutasiBarang")">
                            <div class="panel panel-body bg-indigo-400 has-bg-image">
                                <div class="media no-margin">
                                    <div class="media-left media-middle">
                                        <i class="icon-cart-remove icon-3x opacity-75"></i>
                                    </div>

                                    <div class="media-body text-right">
                                        <h3 class="no-margin">@HConvert.ToMoney(Model.Inventory_MutasiBarang)</h3>
                                        <span class="text-uppercase text-size-mini">Mutasi Barang</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }
        else if (group == "PENGADAAN")
        {
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <a href="@Url.Action("Index", "PurchasingOrder")">
                            <div class="panel panel-body bg-danger-400 has-bg-image">
                                <div class="media no-margin">
                                    <div class="media-body">
                                        <h3 class="no-margin">@HConvert.ToMoney(Model.Purchasing_Open)</h3>
                                        <span class="text-uppercase text-size-mini">Open</span>
                                    </div>

                                    <div class="media-right media-middle">
                                        <i class="icon-cart icon-3x opacity-75"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body bg-grey-400 has-bg-image">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-stack-minus icon-3x opacity-75"></i>
                                </div>

                                <div class="media-body text-right">
                                    <h3 class="no-margin">@HConvert.ToMoney(Model.Purchasing_BelumTerima)</h3>
                                    <span class="text-uppercase text-size-mini">Belum Terima</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body bg-primary-400 has-bg-image">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-stack-plus icon-3x opacity-75"></i>
                                </div>

                                <div class="media-body text-right">
                                    <h3 class="no-margin">@HConvert.ToMoney(Model.Purchasing_BelumSemua)</h3>
                                    <span class="text-uppercase text-size-mini">Terima Sebagian</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-body bg-success-400 has-bg-image">
                            <div class="media no-margin">
                                <div class="media-left media-middle">
                                    <i class="icon-stack-check icon-3x opacity-75"></i>
                                </div>

                                <div class="media-body text-right">
                                    <h3 class="no-margin">@HConvert.ToMoney(Model.Purchasing_SudahTerima)</h3>
                                    <span class="text-uppercase text-size-mini">Sudah Terima</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
        else if (group == "FARMASI")
        {
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <a href="@Url.Action("Index", "FarmasiResep")">
                            <div class="panel panel-body bg-blue-400 has-bg-image">
                                <div class="media no-margin">
                                    <div class="media-body">
                                        <h3 class="no-margin">@HConvert.ToMoney(Model.Farmasi_Resep)</h3>
                                        <span class="text-uppercase text-size-mini">Resep</span>
                                    </div>

                                    <div class="media-right media-middle">
                                        <i class="icon-lab icon-3x opacity-75"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <a href="@Url.Action("Index", "FarmasiBilling")">
                            <div class="panel panel-body bg-danger-400 has-bg-image">
                                <div class="media no-margin">
                                    <div class="media-body">
                                        <h3 class="no-margin">@HConvert.ToMoney(Model.Farmasi_Billing)</h3>
                                        <span class="text-uppercase text-size-mini">Billing</span>
                                    </div>

                                    <div class="media-right media-middle">
                                        <i class="icon-file-text icon-3x opacity-75"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <a href="@Url.Action("Index", "FarmasiBillingObatBebas")">
                            <div class="panel panel-body bg-success-400 has-bg-image">
                                <div class="media no-margin">
                                    <div class="media-left media-middle">
                                        <i class="icon-basket icon-3x opacity-75"></i>
                                    </div>

                                    <div class="media-body text-right">
                                        <h3 class="no-margin">@HConvert.ToMoney(Model.Farmasi_BillingObatBebas)</h3>
                                        <span class="text-uppercase text-size-mini">Billing Obat Bebas</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <a href="@Url.Action("Index", "PembelianObatLuar")">
                            <div class="panel panel-body bg-indigo-400 has-bg-image">
                                <div class="media no-margin">
                                    <div class="media-left media-middle">
                                        <i class="icon-cart5 icon-3x opacity-75"></i>
                                    </div>

                                    <div class="media-body text-right">
                                        <h3 class="no-margin">@HConvert.ToMoney(Model.Farmasi_PembelianObatLuar)</h3>
                                        <span class="text-uppercase text-size-mini">Pembelian Obat</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>